*.pyc
.*.swp
*~
django/econsensus/local_settings.py
django/econsensus/.ve
django/econsensus/distribute-*.tar.gz
django/econsensus/econsensus-messages
django/econsensus/log/error.log
reports/*
.settings/*
.pydevproject
.DS_Store

/.metadata
/.settings
/.project
