/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}bottom>

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
ul.bulleted {
    list-style: disc outside none;
    padding-left: 1em;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

table.user_list {
    border-collapse: separate;
    border-spacing: 10px 0;
}

.user_list th {
    text-align: left;
    padding: 5px;
}

.user_list td {
    padding: 5px;
}

/* General Styles */

body { 
    font-family: ubuntu, verdana, sans-serif;
	margin:0 auto;
	min-width:320px;
	font-size:1em;
}

a, a:link, a:active a:visited {
	color:#3E6EA3;
	text-decoration:none;
	outline:none;
	outline-style:none;
}

a img, img {
	border:none;
	}

p {
	line-height:1.3em;
}

h1, h2, h3, h4, h5, h6 {margin:0.3em 0 0.5em 0;}

h1 { font-size:2.4em;}
h2 { font-size:1.6em;}
h3 { font-size:1.4em;}
h4 { font-size:1em;}
h5 { font-size:1em;}
h6 { font-size:1em;}

a.button {
	line-height:2.5em;
	background-color:#3E6EA3;
	margin:0 0.5em;
	-moz-border-radius: 12px;
  	-webkit-border-radius: 12px;
	border-radius:12px;
	padding:1px 12px;
	color:#fff;
	font-weight:bold;
	font-size:0.9em;
	position:relative;
	top:0.2em;
}

textarea, input {
    border: 6px solid #ddd;
    -moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
    border-radius: 10px;
    position: relative;
}

input {
	box-shadow:none;
}

.go.button {
    background-color: #90AA27;
    border: medium none;
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px 10px;
}

.loose.button {
    border: medium none;
    font-weight: bold;
    padding: 5px 10px;
    float: left;
    margin:0 0.5em
}


.button:hover {
    cursor: pointer;
}


/* Main Blocks */

#header-wrapper, #navigation-wrapper, #content-wrapper, #footer-wrapper, .envelope {
	width:100%;
	display:block;
	float:left;
	position:relative;
}

#header, #navigation, #content, #footer {
	max-width:1280px;
	margin:0 auto;
	padding:0 10px;
}

#header-wrapper {
	background-color:#fff;
	padding-top:10px;
}

#navigation-wrapper {
	border-top:10px solid #ededed;
	background-color:#5F5853;
}

#footer-wrapper {
    background-color: #FFFFFF;
    padding: 10px 0;
}

/* Header */

#header h1 {
	float:left;
	padding-bottom:10px;
	position:relative;
	width:20em;
	margin:0;
}

#header h1 img	{		
	font-size:0.9em;
	float:left;
	margin-right:10px;
	float:left;
}

#header h1 span, #header h1 a {
	display:block;
	font-size:0.7em;
}

#header h1 span {
    display: block;
    float: left;
    font-size: 0.6em;
    line-height: 1.5em;
}

#user_access {
	width:26em;
	display:block;
	position:relative;
	float:right;
	display:block;
	padding-top:10px;
	text-align:right;
}

/* Navigation */

#navigation {
	padding:0;
}

#navigation ul li {
	float:left;
	border-right:1px solid #333;
	min-height: 2.5em;
}

#navigation ul li a {
	padding:10px;
	display:block;
	color:#fff;
	font-weight:bold;
}

#navigation ul li a:hover {
	color:#FFCC00;
	background-color:#2A2724;
}

#navigation-wrapper .selected a {
	background-color:#161514;
}


#navigation ul li a:hover {
	color:#fff;
}

#navigation-wrapper #search_form {
    display: block;
    float: right;
    padding: 8px 10px;
}

#navigation #search_form input#search {
	border:none;
	height:1.6em;
	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
	border-radius:5px;
	padding:5px;
}

#navigation #user-actions {float:right;}

/****** Content ******/

#content {
	padding:20px;
}

.page_title {
	display: inline;
	color:#666;
	padding-bottom: 6px;
	margin-bottom:0;
}

.simple-form-header {
	display: block;
	text-align: center;
}

.page_title span {
    color: #030303;
    font-size: 0.7em;
    font-weight: bold;
}

.page_title.decision {
    color:#90AA27;

}

.page_title.proposal {
    color:#FFB900;

}

.page_title.feedback {
	margin-top:10px;
	width:inherit;
}

#your-organizations {
	margin-top:1em;
	margin-bottom:1em;
}

#your-organizations ul {
	margin-bottom:1em;
}

#your-organizations p,
#your-organizations li {
	margin-bottom: 1em;
}

#your-organizations div {
	margin-top:2em;
}

#your-organizations ul {
	margin-left:1em;
}

#content ul.org_list ul li {
	display:inline;
    border-left:1px solid #666;
    padding:0 0.5em;
}

#content ul.org_list ul li:first-child {
	border-width:0;
	padding-left:0;
    font-size: 1.4em;
}

.page_title.actionitem, 
.page_title.feedback {
    display: block;
}

/* pagination */
.pagination {
	float: right;
	padding: 6px 35px;
	font-size: 0.9em;
	display: inline;
}

.pagination form {
	display: inline;
	margin-left: 5px;
}

.pagination input {
	border: none;
}

.pagination-num-items { 
	width: 50px; 
	padding: 0px;
	border: 1px solid #eee;
	background: white;
	text-align:center;
}

.pagination p {
	display: inline;
}

/* list view */

.summary-list {
	border-collapse: separate;
	border-spacing: 0 2px;
	table-layout: auto;
	width: 100%;
	clear: both;
	margin: 20px 0 0;
    padding: 10px;
	border: 2px solid #D3CDC6;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	text-align:center;
}

.summary-header a {
	color: #000;
}

.summary-header .sort-asc, .summary-header .sort-desc {
    color: #3E6EA3;
}

.discussion-list .sort-asc, .discussion-list .sort-desc {
    color: #000;
}

.discussion-list th > a > span, .discussion-list th > span {
    color: #FFF;
}

.summary-item a.iconified {
	color: #3E6EA3;
}

.summary-list td, .summary-list th {
	border-top: 3px solid #aad400;
	border-bottom: 3px solid #aad400;
}

.summary-list th {
	background-color: #aad400;
}

.summary-list td:first-child, .summary-list th:first-child {
	border-left: 3px solid #aad400;
	-moz-border-radius: 10px 0 0 10px;
	-webkit-border-radius: 10px 0 0 10px;
	-o-border-radius: 10px 0 0 10px;
	-ms-border-radius: 10px 0 0 10px;
	border-radius: 10px 0 0 10px;
}

.summary-list td:last-child, .summary-list th:last-child {
	border-right: 3px solid #aad400;
	-moz-border-radius: 0 10px 10px 0;
	-webkit-border-radius: 0 10px 10px 0;
	-o-border-radius: 0 10px 10px 0;
	-ms-border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
}

.summary-list td a, .summary-list th a {
	display: block;
	padding: 10px;
	color: #000;
}

.summary-list td .iconified {
	padding:0 25px 0 5px;
	border:5px solid #EFEFEF;
	border-radius: 15px;
	-moz-border-radius: 15px;
  	-webkit-border-radius: 15px;
    background-color: #EFEFEF;
	color: #3E6EA3;
    font-size: 0.9em;
    font-weight: bold;
}

.id {
    width: 80px;
}

p.no_items {
	clear:both;
}

/* list view colors */
.archived-list .summary-list th,
.archived-list .summary-list td,
.summary-list td.archived {
	border-color: #D1D7DF;
}

.archived-list .summary-list th {
	background-color: #D1D7DF;
}

.proposal-list .summary-list th,
.proposal-list .summary-list td,
.summary-list td.proposal {
	border-color: #FFCC00;
}

.proposal-list .summary-list th {
	background-color: #FFCC00;
}

.decision-list .summary-list th,
.decision-list .summary-list td,
.summary-list td.decision {
	border-color: #AAD400;
}

.decision-list .summary-list th {
	background-color: #AAD400;
}

.discussion-list .summary-list th,
.discussion-list .summary-list td,
.summary-list td.discussion {
	border-color: #3E6EA3;
}

.discussion-list .summary-list th {
	background-color: #3E6EA3;
}

.discussion-list .sort-desc {
	color: #000000;
}

/* borders */

li.summary-item {
	border-color:  #ECECEC;
}

.archived-list li.summary-item  {
	border-color: #483E37;
}

.proposal-list li.summary-item  {
	border-color: #FFCC00;
}

.decision-list li.summary-item  {
	border-color: #AAD400;
}

/*
 * Iconified
 */

/*apply to all icons*/
[class*="iconified"] {
	display: inline-block;
  	vertical-align: middle;
  	padding: 10px;
  	background-repeat: no-repeat;
}

/*apply to active icons*/
.iconified, .iconified-left {
	background-image: url("../images/icon-view-item.png");
}

/*apply to disabled icons*/
.iconified-disabled, .iconified-left-disabled {
	background-image: url("../images/icon-view-item-disabled.png");
}

/*apply to right-pointing icons*/
.iconified, .iconified-disabled {
	background-position: right center;
}

/*apply to left-pointing icons*/
.iconified-left, .iconified-left-disabled {
	background-position: left center;
	-webkit-transform:scaleX(-1);
    -moz-transform:scaleX(-1);
    -ms-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

/****************************/

.excerpt {
   /* Use all that is left */
   text-align:left;
}

.summary-header .feedback {
    width: 8em;
}

.review_date,
.archived_date,
.creation,
.decided_date,
.deadline {
	width: 10em;
}

.last_modified {
	width: 13em;

}

/* Proposal list view */

#header h1 span {
	line-height:1.5em;
}

a.button.add_discussion,
a.button.add_decision,
a.button.add_proposal,
a.button.add_actionitem,
a.button.add_discussion,
a.button.add_feedback {
    background-image: url("../images/icon-add.png");
    background-position: 3px center;
    background-repeat: no-repeat;
    color: #333333;
    float: left;
    line-height: 24px;
    margin-top: 6px;
    padding-left: 30px;
}

a.button.add_decision {
    background-color: #90AA27;
    color:#fff;
}

a.button.add_proposal {
    background-color: #FFCC00;
}

a.button.add_discussion {
    background-color: #3E6EA3;
    color:#fff;
}

a.button.add_actionitem {
    background-color: #E02E78;
    color:#fff;
}

/* Search view */
.summary-list.search-results th {
    background-color:#D3CDC6;
    border-color:#D3CDC6;
}

/* Decision View */

h2.page_title strong {
	font-size:0.6em;
	color:#333;
	font-weight:bold;
}

span.excerpt {
    color: #483E37;
    display: block;
    font-weight: bold;
    margin-left: 25px;
    padding-top: 0.5em;
    width: 60%;
}

#decision_detail {
	border: 3px solid #000000;
	border-radius: 15px;
    clear: both;
    display: block;
    position: relative;
    padding: 20px 0;
    margin-bottom:10px;
    width:100%;
    float:left;
}

#decision_detail.proposal {
	border-color: #FFCC00;
}

#decision_detail.decision {
	border-color: #90AA27;
	margin-top:10px;
	margin-bottom:10px;
}

#decision_detail.archived {
	border-color: #666666;
}

#decision_detail.discussion {
	border-color: #3E6EA3;
}
#decision_detail .stats {
    display: block;
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#decision_detail .stats dt {
    color: #fff;
    display: block;
    float: left;
    font-size: 0.9em;
    font-weight: bold;
    left: 0;
    margin-bottom: 5px;
    margin-right: -100px;
    padding: 3px 0 3px 5%;
    text-transform: capitalize;
    width: 97%;
}

#decision_detail .stats a dt {
    background-image: url("../images/icon-add.png");
    background-position: 3px center;
    background-repeat: no-repeat;
    padding-left: 30px;
}
  
#decision_detail .stats dd {
    color: #000;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 10px / 8px;
    -moz-border-radius: 10px / 8px;
    -webkit-border-radius: 10px / 8px;
 	display: block;
    float: right;
    font-size: 0.9em;
    font-weight: bold;
    margin: 3px 0 0;
    padding: 0 0.5em;
    position: relative;
    right: 10px;
    text-align: center;
}


#decision_detail .description {
	width:68%;
	float:left;
}

#decision_detail .description p {
	margin:0 20px 20px 20px; 
}

#decision_detail .meta_people, #decision_detail .meta_resources {
    margin: 10px 20px 40px;
    padding: 0;
    font-size:0.8em;
    color:#333;
}

#decision_detail .meta_resources {
	margin: 10px 20px 10px;
}

#decision_detail .meta_people dt, #decision_detail .meta_resources dt{
	margin:0;
	font-weight:bold;
	clear:both;
	float:left;
	padding-right:10px;
	color:#3E6EA3;
}

#decision_detail .meta_people dd {
	margin:0;
	font-weight:normal;
}

#decision_detail .meta {
    border-left: 2px dotted #DDDDDD;
    float: left;
    padding-left: 15px;
    width: 28%;
}

#decision_detail .controls {
	position:absolute;
	left:20px;
	bottom:10px;
}

a.button.edit, a.button.show {
	font-weight:bold;
	font-size:0.8em;
	margin: 0 0
}

#decision_detail .dates {
	float:left;
	margin:0;
	width:100%;
}

#decision_detail .date {
	float: left;
	text-align:center;
	font-size:0.8em;
	color:#666;
	width:50%;
	margin-bottom:1.5em;
}

#decision_detail.proposal .date {width:100%;}

#decision_detail .date strong {
    background-color: #3E6EA3;
    color:#fff;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    clear: both;
    display: block;
    font-weight: bold;
    padding: 3px 10px;
    margin:0 5px;
}


p.title {
	font-weight: bold;
}

.meta p.title {
	font-weight:normal;
	font-size:0.9em;
	color:#666;
}

.meta strong {
	font-weight:bold;
	color:#333;
}

/* from the decision model
    PROPOSAL_STATUS = 0
    DECISION_STATUS = 1
    ARCHIVED_STATUS = 2
*/

#decision_update_form {
	border: 3px solid #FFCC00; /* #993377 - I quite liked this colour */
	-moz-border-radius: 15px;
  	-webkit-border-radius: 15px;
	border-radius: 15px;
    clear: both;
    float: left;
    width: 100%;
    margin-bottom:10px;
}

#decision_update_form #decision {
    padding: 10px 20px 10px 5px;
}

#decision_update_form.proposal {
	border-color: #FFCC00; /* #993377 - I quite liked this colour */
}

#decision_update_form.decision {
	border-color: #90AA27;
}

#decision_update_form.archived {
	border-color: #666666;
}

#decision_update_form.discussion {
	border-color: #3E6EA3;
}

.decision_summary {
    float: left;
    width: 80%;
    padding-bottom:10px;
}

.decision_meta {
	float:right;
	width:20%;
}

.decision_summary.halfwidth, .decision_meta.halfwidth {
	width:50%;
}

.decision_summary.halfwidth > div, .decision_summary.halfwidth > p,
.decision_meta.halfwidth > div, .decision_meta.halfwidth > p {
	padding:1em 15px;
}

.decision_author {
	font-size: 0.8em;
	padding: 10px;
}
.decision_author span {
	font-weight: bold;
}

.decision_feedback, .decision_actionitem {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.button.add_feedback,
.button.add_actionitem {
	color:#fff!important;
}

.decision_feedback ol.feedback_list,
.decision_actionitem ol.actionitem_list {
    border: 5px solid #ECECEC;
    border-radius: 15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    float: left;
    padding: 20px 0;
    width: 100%;
}

#feedback_add_anchor {
	position:relative;
}

.decision_feedback ol.feedback_list > li,
.decision_actionitem ol.actionitem_list > li {
    border-bottom: 1px solid #3E6EA3;
    margin: 0 20px;
    overflow: auto;
    padding: 0.5em 0 1.5em;
    position: relative;
}

.actionitem_list > li {
    padding: 0.5em 0;
}

.decision_feedback .feedback_type {
	width:8em;
	color:#fff;
	background:#000;
	text-align:center;
	font-weight:bold;
	font-size:.8em;
	float: left;
	margin-top:3px;
}

.decision_actionitem .actionitem_type {
	width:8em;
	color:#fff;
	background:#000;
	text-align:center;
	font-weight:bold;
	font-size:.8em;
	float: left;
	margin-top:3px;
}

.decision_feedback .author, .actionitem_responsible, .decision_actionitem .actionitem_number {
	position:relative;
	top:inherit;
	padding-bottom:10px;
	font-weight:bold;
	color:#3E6EA3;
}

.decision_feedback .description, .decision_actionitem .description {
	margin-left: 8em;
}

#decision label {
	display:block;
	padding-bottom:0.3em;
	font-weight:bold;
	font-size:0.8em;
	float:left;
}

#id_description, #id_budget, #id_people, #id_meeting_people, 
.form_item.description span textarea.description_text {
    clear: both;
    display: inline;
    margin: 2%;
    position: relative;
    width: 91%;
}

.decision_meta {
	padding:10px 0;
}

.decision_meta div {
	padding:0.2em 1em 0.3em 0;
}

.decision_meta label {
    float: left;
    font-size: 0.9em;
    font-weight: bold;
    margin-right: 20px;
	clear:both;
}

.decision_meta input {
	padding:8px 10px 2px 10px;
	width:90%;
}

.edit_decision {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}


.update-controls {
	float: right;
	clear: both;
	padding-bottom:6px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-right: 0.5em;
    width:100%;
}

.update-controls div.update-buttons {
	float: right;
	}

.update-controls div.update-buttons div {
    padding: 0 6px 4px 6px;
	float: right;
}

.update-controls div.update-options {
    float: left;
    }

.update-controls div.update-options div {
    float: left;
    padding:0 0 0 1em;
}


.decision_meta #tags #id_tags {
	width:90%;
}

div#tags {
	display: none;
}

.decision_dates {
	overflow:hidden;
}

.decision_dates li {
	float:left;
	margin:0 2em 0 0;
	text-align:center;
}


.form_item {
	padding: 10px 3%;
	display: block;
	position: relative;
	width: 94%;
}

/* Feedback */
.formset_item {
	margin-bottom: 8px;
	overflow: auto;
}

.controls {
	float: right;
	margin: 5px;
	margin-right:20px;
}

.formset_item .form_row .controls div {
	padding: 0 6px 4px 6px;
	float: right;
}

.formset_item .form_row .controls div.minor_edit {
	padding: 0;
	float: left;
}

.feedback_edit a {
	float: right;
}

.formset_item .form_item.description {
    border: medium none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.formset_item .form_item.description textarea {
	font-size: 1.1em;
	color: #333;
	width: 96%;
	padding: 10px;
}

.formset_item .form_item.description textarea .id_description {
    display: block;
    float: left;
    position: relative;
    top: -30px;
}

.formset_item .form_item.description textarea.expanded {
	height: 120px;
}

.formset_item .form_item.description textarea.collapsed {
	height: 20px;
}

.formset_item .form_item.rating {
    display: block;
    margin-left: 15px;
    padding: 4px;
    width: 10%;
}
	
.formset_item .form_item.rating select {
	padding: 1px;
	font-size: 1em;
}

.formset_item {
	-moz-border-radius: 15px;
  	-webkit-border-radius: 15px;
	border-radius: 15px;
    border-radius: 15px 15px 15px 15px;
    padding: 20px 0;  
}

.formset_item.feedback {
	border: 3px solid #3E6EA3;
}

.formset_item.actionitem {
	border: 3px solid #E02E78;
}

.contrib_comment_container {
	margin-left: 10em;
	margin-right: 10em;
}

.contrib_comment_list {
	margin-top: 1em;
	}

.contrib_comment {
	margin-bottom: 0.25em;
}

.contrib_comment {
	margin-bottom: 0.25em;
}

.showable {
	display :none;
}

.form_comment textarea {
	width: 100%;
    border-width: 2px;
}

.contrib_comment p, .contrib_comment span {
	font-size: 0.9em;
}

/* Feedback rating colors */
#decision_detail .stats .consent, .feedback_type.consent {
	background-color: #aad400;
}
.formset_item.feedback.rating_consent {
    border-color: #aad400;
}

#decision_detail .stats .question, .feedback_type.question {
	background-color: #008080;
}
.formset_item.feedback.rating_question {
    border-color: #008080;
}

#decision_detail .stats .danger, .feedback_type.danger {
	background-color: #d81616;
}
.formset_item.feedback.rating_danger {
    border-color: #d81616;
}

#decision_detail .stats .concerns, .feedback_type.concerns {
	background-color: #f60;
}
.formset_item.feedback.rating_concerns {
    border-color: #f60;
}

#decision_detail .stats .comment, .feedback_type.comment {
	background-color: #aaa;
}
.formset_item.feedback.rating_comment {
    border-color: #aaa;
}

/* ActionItem rectangle */
.decision_actionitem .actionitem_type {
    background-color: #E02E78;
}

/* Footer */

#footer p {
	font-size:0.8em;
	color:#666;
}

#footer .export {
	float: right;
}

#footer ul.flatpagelinks li {
    float: left;
}

#footer ul.flatpagelinks li a {
	font-size: 1.2em;
	padding-right: 0.5em;
}

#footer ul.flatpagelinks li a:hover {
	background-color: #ededed;
}

/* login form */

body.login #header-wrapper, body.login #content-wrapper, body.login #footer-wrapper {
    clear: both;
    display: block;
    float: left;
    margin: 0 auto;
    overflow: visible;
    position: relative;
    width: 100%;
}

body.login #header, body.login #content {
    margin: 0 auto;
    padding-top: 0;
    position: relative;
}

body.login #header {
    display: block;
    left: -25px;
    margin: 30px auto;
    position: relative;
    width: 370px;
}

body.login #header h1 {
    padding-bottom: 30px;
    padding-left: 0;
    padding-top: 20px;
}

body.login #branding, body.login #columns {
	width:400px;
}

body.login #content h2.page_title {
	display:none;
}

body.login #footer {
	padding: 5px 20px;
    text-align: center;
}

body.login p.message {
    color: #333333;
    font-size: 0.9em;
    margin: 0 auto 10px;
    text-align: center;
    width: 500px;
}

p.error input {
	border-color : #C93A2A;
}

.form_item.error textarea, .parsley-error {
    border-color : #C93A2A;
}

ul.errorlist, .parsley-error-list {
	clear: both;
	color: #C93A2A;
}

#short-form {
    background: none repeat scroll 0 0 #EFEFEF;
    -moz-border-radius: 20px;
  	-webkit-border-radius: 20px;
    border-radius: 20px;
 	display: block;
    margin: 0 auto;
    overflow: auto;
    padding: 20px;
    width: 400px;
}

#short-form .checkbox input {
	width: auto;
}

#short-form .checkbox label {
    padding-top: 0;
}


#short-form.login .helptext {
    display: none;
}

#short-form span.helptext, .notification_form > .form_item > .helptext {
	clear:both;
	float: left;
	font-size: 0.8em;
	color: #706E6E;
}

#short-form .errorlist {
    font-size: 0.8em;
    float: right;
}

#short-form .field {
    float: left;
    width: inherit;
    padding: 2px;
}

#short-form .field_value {
    float: right;
}

#short-form p {
    float: left;
    margin-top:10px;
    margin-bottom:10px;
}

#short-form label {
    display: block;
    float: left;
    font-size: 1.3em;
    color:#333;
    width: 8em;
    padding-top:11px;
}

#short-form input {
	-moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
    border-radius: 10px;
    display: block;
    float: right;
    padding: 10px 10px 8px;
    width: 200px;
}

#short-form .button {
    background: none repeat scroll 0 0 #AAD400;
    border: medium none;
    box-shadow: none;
    color: #FFFFFF;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    /*
    margin-right: 5px;
    margin-top: 10px;
    */
    padding: 5px;
    position: relative;
    width: 232px;
}

/* Notification settings */
.notification_form {
	overflow: auto;
	border: 3px solid #797676;
	border-radius: 20px;
	padding: 10px;
}

.notification_form > .meta.controls {
	display: block;
	float: left;
	padding: 10px 3%;
}

.notification_form > div > h4 {
	font-weight: bold;
	margin-top: 20px;
}

.glossary {
	display: block;
	clear: both;
}

.glossary > p {
	margin: 10px 0;
}

.options_list dt {
	margin: 10px 0;
	font-weight: bold;
}

.form {
	display: block;
}

/* 404 Page Styling */
p.error404 {
	clear : both;
	margin-bottom : 40px;
}

/* Styling of admin-defined pages */
#flatpage ul {
    list-style: disc outside none;
    padding-left: 1em;
}

/* Media Queries*/

@media screen and (max-width:800px) {
	
	#decision_detail .date {
    color: #666666;
    float: left;
    font-size: 0.8em;
    margin-bottom: 0.5em;
    text-align: center;
    width: 50%;
	}
	
    #decision_detail .meta_people {
        margin-bottom:10px;
    }

    .summary-list td a, .summary-list th a {
        padding: 3px;
    }

    .summary-list td, .summary-list th {
        width: auto;
    }
}

@media screen and (max-width: 54em) {
    #user-actions {
        width:100%;
        background-color:#fff;
    }	

    #navigation ul {
        width:100%;
    }

    #navigation li {
        width:24.8%;
        text-align:center;
    }    
}

@media screen and (max-width: 660px) {
	body {
  	}
  
  	#header h1 {
  		width:100%;
  	}

	#navigation-wrapper {
		padding:0 0 10px;
	}
	
  	#navigation li {
  		width:33%;
		border-right:1px solid #666;
		text-align:center;
  	}
	
 	#navigation #search_form {
		float:left;
		width:100%;
		position:relative;
		padding:0;
		background-color:#333;
	}
	
	#header h1 span {
	display:none;
	}
	
	#user_access {
		float:left;
		text-align:left;
		font-size:0.9em;
		padding:0 0 10px 0;
	}
	
	#navigation #search_form #search {
		width:65%;
		float:left;
		margin:10px;
	}
	
	#navigation #search_form #search_button {
		float:right;
		margin:10px;
		min-width:70px;
	}

	#user-actions {
		padding:0;
		clear:both;
		display:block;
		position:relative;
		width:100%;
		float:right;
		background-color:#fff;
		padding-bottom:10px;
		font-size:0.8em;
	}

	#user-actions a.button {
		padding:2px 0;
		margin:2px 0;
		width:48%;
		margin:1%;
		text-indent:30px;
		background-position:2px center;
	}
	
	a.button.add_decision, a.button.add_proposal {
		top:0;
	}

	.summary-list {
		width:auto;
	}

	.list_view .item_description {
		width:100%;
		clear:both;
		margin:10px 0;
		padding:0;
		display:block;
	}
	.review_date,
	.archived_date,
	.creation,
	.decided_date,
	.last_modified,
	.deadline {
		width: 8em;
	}

	#content h2.page_title {
		padding:0 0;
		font-size:1.3em;
		width:100%;
		margin-bottom:10px;
	}

	#decision_detail .summary .description {
		width: auto;
		float: none;
	}
	
	#decision_detail .meta {
		padding-right:15px;
		border-left:none;
		border-top:2px dotted #ddd;
		padding-top:15px;
		width:90%;
	}

	#decision_detail .meta .meeting_people,
	#decision_detail .meta .people {
		margin: 0;
	}

	#decision_detail .meta .dates {
		width: 100%;
		margin: 0 0 20px;
	}

	#decision_detail .meta, {
		float: none;
		width: auto;
	}


	#decision_detail .meta .controls {
		position: static;
		margin: 1em 0 0 20px;
	}

	#decision_detail .author {
		top:-70px;
		font-size:1.1em;
	}
	
	#decision_update_form #decision {
		padding: 0;
	}

	form .decision_summary,
	form .decision_meta {
		float:none;
		width:100%;
		padding-top:0;
		padding-bottom:0;
	}

	.form_item, .decision_meta .form_item {
		width:auto;
		padding:10px;
	}

	.decision_author {
		display: none;
	}
	
	#feedback_add_anchor {
    left: inherit;
    position: relative;
    top:-5px;
	}
	
	#id_description, #id_budget, #id_people, #id_meeting_people {
    width: 90%;
	}
	
	.summary-list {
		padding: 10px 10px 0 10px;
	}
	.update-controls div.update-options {
		width:100%;
		margin-bottom:1em;
	}

	.contrib_comment_container {
		margin-right: 0;
	}
}

@media screen and (max-width:400px) {
    body {
    }
  
	#header h1 span {
		display:none;
	}

	#navigation ul {
		margin-bottom:0px;
	}
	
	#navigation ul li {
		float:none;
		border-bottom:1px solid #666;
		font-size:1.2em;
		width:100%;
		border-right:none;
	}
	
	#navigation #search_form #search {
		width:60%;
		float:left;
		margin:10px;
	}

	#navigation #user-actions {
		padding:5px 0;
		clear:both;
		display:block;
		position:relative;
		float:left;
	}

	#user-actions a.button {
	    background-position: 2px center;
	    margin: 1%;
	    padding: 2px 0;
	    text-indent: 2em;
	    width: 97%;
	}
	
	
	
	#content h2.page_title {
		font-size:1.2em;
		width:100%;
		padding-bottom:20px;
	}
	
	#decision_detail .author {
		top:-35px;
		width:100%;
		text-align:left;
		color:#333;
	}
	
	a.button {
		font-size:1.4em;
		top:-0.2em;	
		width:100%;
	}

	a.button.add_decision, a.button.add_proposal {
		float:left;
		width:90%;
		margin:6px 5% 1px;
		padding:2px 0;
	}


    a.button.add_feedback {
        background-image: url("../images/icon-add.png");
        background-position: 3px center;
        background-repeat: no-repeat;
        color: #333333;
        display: block;
        font-size: 0.8em;
        line-height: 24px;
        margin-right: 0;
        margin-top: 6px;
        padding-left: 30px;
        top: 5px;
        width: inherit;
    }
  
    #id_description, #id_budget, #id_people, #id_meeting_people {
    width: 85%;
    }


    .decision_feedback ol.feedback_list {
    padding:5px 0;
    }
    
    .decision_actionitem ol.actionitem_list {
    padding: 5px 0;
    }

    .decision_feedback .feedback_type {
    width:100%;
    }
  
    .decision_actionitem .actionitem_type {
    width:100%;
    }

	.list_view .item_description {
		width:100%;
		float:none;
		clear:both;
		margin:0;
		padding:5px;	
	}
	
	.decision_feedback .description, .decision_actionitem .description {
    clear: both;
    margin-left: 0;
    padding-top: 10px;
	}
	
	.contrib_comment_container {
    margin-left: 0;
    border: thin solid #ececec;
    padding:1em;
    margin-top:1em;
    }
    
    .contrib_comment_list {
    margin-top: 0;
    }
}

del,
del > .actionitem_responsible {
    color: gray;
    font-weight: normal;
}

.hide {
    cursor: pointer;
}

.envelope.minimized > .add_anchor,
.envelope.minimized > .list {
    display: none;
}

.actionitems-list .summary-list td {
    border-color: #E02E78;
}

.actionitems-list .summary-list th {
    background-color: #F7D9E5;
    border-color: #F7D9E5;
}

.actionitems-list .summary-list th.description a {
    text-align: left;
    padding: 10px 10px 10px 0px;
}

.actionitem_metadata {
	float: right;
	border: 5px solid #ECECEC;
	border-radius: 15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	padding: 20px;
	width: 20%;
	word-wrap: break-word;
}
