@media screen and (max-width: 640px) {
	/*
	 * Responsive tables (break them down into rows).
	 * Works only on tables with FIXED CHOICE of columns AND
	 * doesn't work on IE
	 */

	/* Force table to not be like tables anymore */
	.object-list table,
	.object-list thead,
	.object-list tbody,
	.object-list th,
	.object-list td,
	.object-list tr {
		display: block;
	}

	.object-list tr { 
		border: 3px solid #eee;
		border-top:38px solid #ddd; 
		border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		margin-bottom:10px;
		position:relative;
		display:block;
	}
	
	.object-list td {display:table-row;position:relative;}
    .object-list td.excerpt {display:block;width:100%}

    .discussion-list .summary-list tr {border-color: #3E6EA3; }
    .proposal-list .summary-list tr {border-color: #FFCC00; }
    .decision-list .summary-list tr {border-color: #AAD400; }
    .archived-list .summary-list tr {border-color: #D1D7DF; }
    .actionitems-list .summary-list tr {border-color: #F7D9E5; }

	.object-list td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 9em;
		text-align:left;
	}

    .object-list td.excerpt {
        padding-left: 0px;
    }

	.object-list td:before {
		/* Now like a table header */
		position: relative;
		/* Top/left values mimic padding */
		top: 9px;
		left: 6px;
		width: 8em;
		padding:10px;
		white-space: nowrap;
		display:table-cell;
		font-size:0.9em;
		color:#666;
	}

    .object-list .excerpt a {font-weight:bold;}
    .object-list .excerpt a:hover {color:#3E6DA3;}
    .object-list td a {display:table-cell;width:80%;}
    .object-list td.excerpt a {display:block;width:auto;}

	.object-list td, .object-list td:first-child, .object-list td:last-child {
		border:none;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	.object-list thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

    @media screen and (max-width: 660px) {
        
        .object-list td.id a {
        left: 60px;
        position: absolute;
        top: -33px;
        width: 7em;
        padding:0;
        }
       
       .object-list td:nth-of-type(1):before {
        content: "ID";
        font-weight: bold;
        position: absolute;
        top: -40px;
        }
    }

	/* Labels */
	.discussion-list td:nth-of-type(1):before { font-weight:bold;content:"ID";color:#000;}
	.discussion-list td:nth-of-type(3):before { font-weight:bold;content:"Feedback"; }
	.discussion-list td:nth-of-type(4):before { font-weight:bold;content:"Deadline"; }
	.discussion-list td:nth-of-type(5):before { font-weight:bold;content:"Last Modified"; }

	.proposal-list td:nth-of-type(1):before { font-weight:bold;content:"ID";}
	.proposal-list td:nth-of-type(3):before { font-weight:bold;content:"Feedback"; }
	.proposal-list td:nth-of-type(4):before { font-weight:bold;content:"Deadline"; }
	.proposal-list td:nth-of-type(5):before { font-weight:bold;content:"Last Modified"; }

	.decision-list td:nth-of-type(1):before { font-weight:bold;content:"ID";color:#000; }
	.decision-list td:nth-of-type(3):before { font-weight:bold;content:"Decided Date"; }
	.decision-list td:nth-of-type(4):before { font-weight:bold;content:"Review Date"; }

	.archived-list td:nth-of-type(1):before { font-weight:bold;content:"ID";}
	.archived-list td:nth-of-type(3):before { font-weight:bold;content:"Created Date"; }
	.archived-list td:nth-of-type(4):before { font-weight:bold;content:"Archived Date"; }

	.actionitems-list td:nth-of-type(1):before { font-weight:bold;content:"ID"; }
	.actionitems-list td:nth-of-type(3):before { font-weight:bold;content:"Responsible"; }
	.actionitems-list td:nth-of-type(4):before { font-weight:bold;content:"Deadline"; }
	.actionitems-list td:nth-of-type(5):before { font-weight:bold;content:"Done?"; }
	.actionitems-list td:nth-of-type(6):before { font-weight:bold;content:"Parent item"; }
}

