{% extends "base.html" %}
{% load i18n %}

{% block body_class%}
login
{% endblock %}

{% block title %}
Reset Password
{% endblock %}

{% block user_access %}
{% endblock %}

{% block topbar%}
{% endblock %}

{% block head %}
{{ form.media }}
{% endblock %}

{% block heading %}
Reset Password
{% endblock %}


{% block main_content %}

{% if validlink %}

<form id="short-form" method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

<div class="button_group">
  <input class="button" type="submit" value="{% trans 'Submit' %}" />
</div>
</form>

{% else %}

<p class="message">{% trans "Password reset failed" %}</p>

{% endif %}

{% endblock %}
