{% extends "base.html" %}
{% load i18n %}

{% block body_class%}
login
{% endblock %}

{% block title %}
Econsensus Registration
{% endblock %}

{% block user_access %}
{% endblock %}

{% block topbar%}
{% endblock %}

{% block head %}
{{ form.media }}
{% endblock %}

{% block heading %}
Econsensus Registration
{% endblock %}

{% block main_content %}
<br />
This form has been deprecated. If you are seeing this then something has gone wrong.
<br />
<br />

<form id="short-form" method="post" action=".">
  {% csrf_token %}
  {% for field in form %}
  <div class="field">
    <p class="label">{{ field.label_tag }}</p>
    <p class="field_value">{{ field }}</p>
    <p class="errorlist">{{ field.errors.as_text }}</p>
  </div>
  {% endfor %}
  
<div class="button_group">
  <input class="button" type="submit" value="{% trans 'Submit' %}" />
</div>
</form>
{% endblock %}
