{% extends "base.html" %}
{% block head_content %}
<link media="screen" href="{{MEDIA_URL}}css/2col-left.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block base_content%}
	<div id="columns" class="colmask leftmenu 2col">
	    <div class="colright">
	        <div class="col1wrap">
	            <div class="col1">
					<!-- Column 2 start -->
					<h2 class="page_title">{% block page_title%}{{ flatpage.title }}{% endblock page_title %}</h2>
					{% block content%}{% endblock content %}

					<!-- Column 2 end -->
	            </div>
	        </div>
	        <div class="col2">
				<!-- Column 1 start -->
					{% block sidebar_2_content%}{% endblock %}
				<!-- Column 1 end -->
	        </div>
	    </div>
	</div>
{% endblock %}
