{% autoescape on %}
{% load i18n %}

<html>
	<head>
		<title>{% block title %}{% trans "Lorem Ipsum" %}{% endblock %} | {% trans "Aptivate Decisions" %}</title>
		<style>
			ul.errorlist
			{
				border: 2px solid #fdd;
				background: #fee;
				list-style-type: none;
				padding: 0.2em;
				float: left;
				margin: 0 1em 0 0;
			}
		</style>
		{% block head %}
		{% endblock %}
	</head>
	<body>

		{% block topbar %}
			<TABLE WIDTH=50%>
				<TR>
					<TH ALIGN='left'><a href='{% url admin:index %}'>{% trans "Admin" %}</a></TH>
					<TH><a href="{% url decision_list %}">{% trans "Decision List" %}</a></TH>
					<TH ALIGN='right'>{{ user.username }}<a href={% url django.contrib.auth.views.logout %}>[{%trans "Logout" %}]</a></TH>
				</TR>
			</TABLE>
		{% endblock %}
		
		<h1>{% block heading %}Lorem Ipsum{% endblock %}</h1>
	
		{% block content %}
		{% endblock %}
	</body>
</html>
{% endautoescape %}

