{% autoescape on %}
{% load i18n %}

<html>
	<head>
		<title>{% block title %}{% trans "Lorem Ipsum" %}{% endblock %} | {% trans "Aptivate Decisions" %}</title>
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/styles.css" />
		{% block head %}
		{% endblock %}
	</head>
	<body>

		{% block topbar %}
			<TABLE WIDTH=50%>
				<TR>
					<TH ALIGN='left'><a href='{% url admin:index %}'>{% trans "Admin" %}</a></TH>
					<TH><a href="{% url decision_list %}">{% trans "Decision List" %}</a></TH>
					<TH ALIGN='right'><span class='not_translated'>{{ user.username }}</span><a href={% url django.contrib.auth.views.logout %}>[{%trans "Logout" %}]</a></TH>
				</TR>
			</TABLE>
		{% endblock %}
		
		<h1>{% block heading %}Lorem Ipsum{% endblock %}</h1>
	
		{% block content %}
		{% endblock %}
	</body>
</html>
{% endautoescape %}

