{% extends "base.html" %}
{% load i18n %}
{% load publicweb_filters %}

{% block title %}{{ block.super }}{{ page_title }}{% endblock %}

{% block body_class%}{{ class }}-list{% endblock %}

{% block main_content %}
	<form id="sort_form" action="{% url list class %}" method="get">
		{{ sort_form.as_p }}
		<noscript><div class='input'><input type="submit" value="Submit"/></div></noscript>
	</form>

	<ul class="summary-list">
		{% if object_list %}
		<div class="summary-header">
		{% for column in columns %}
			<p class="field {{ column }} header">{{ object_list|first|model_name:column }}</p>
		{% endfor %}
		</div>
        {% for object in object_list %}
	    <li class="summary-item">
	    	<dl class="field {{column}}">
		    	{% for column in columns %}
		    	{% if column == 'id' %}
				<dt>ID</dt>
				<dd class="field {{column}}">
					<a href="{{ object.get_absolute_url }}">{{ object|decision_field:column }}</a>
				</dd>
				{% else %}
				{% if object|decision_field:column %}
				<dt>{{ column }}</dt>
				<dd class="field {{column}}">
					<a href="{{ object.get_absolute_url }}">{{ object|decision_field:column }}</a>
				</dd>
	        	{% else %}
				<dt>{{ column }}</dt>
				<dd class="field {{column}}">
					<a href="{{ object.get_absolute_url }}">--</a>						
				</dd>
		        {% endif %}
		        {% endif %}
		    	{% endfor %}
		    </dl>
	    </li> <!-- item proposal -->
		{% endfor %}
		{% else %}
			<p>{% trans "There are no items in this list." %}.<p>
		{% endif %}				
	</ul> <!-- list_view proposal -->
{% endblock %}

{% block footer_content %}
	<div class="exportcsv">
		<a title="Export as CSV file" href="{% url publicweb_export_csv %}">{% trans "Export as CSV file" %}</a>
	</div>
{% endblock %}

