{% extends "base.html" %}
{% load i18n %}
{% load publicweb_filters %}

{% block title %}{{ block.super }}{{ page_title }}{% endblock %}

{% block body_class%}{{ class }}-list{% endblock %}

{% block main_content %}
	<form id="sort_form" action="{% url list class %}" method="get">
		{{ sort_form.as_p }}
		<noscript><div class='input'><input type="submit" value="Submit"/></div></noscript>
	</form>
	<ul class="thick_border lightgrey">
		{% if object_list %}
	       	<li class="thin_border darkgrey">
		    	{% for column in columns %}
		    		{% if column == 'excerpt' %}
		    			<p class="field {{ column }} header">Issue</p>
		    		{% else %}		    	
						<p class="field {{ column }} header">{{ object_list|first|model_name:column }}</p>
					{% endif %}
				{% endfor %}
	       	</li>
	        {% for object in object_list %}
		    <li class="thin_border {{ class }}">
		    	{% for column in columns %}
		    		{% if column == 'id' %}
						<p class="field {{column}}">
						<a class="iconified" href="{{ object.get_absolute_url }}">{{ object|decision_field:column }}</a>
						</p>
					{% else %}
						{% if object|decision_field:column %}
							<p class="field {{column}}">
						<a href="{{ object.get_absolute_url }}">{{ object|decision_field:column }}</a>
							</p>
		            	{% else %}
							<p class="field {{column}}">
							<a href="{{ object.get_absolute_url }}">--</a>						
							</p>
		            	{% endif %}
					{% endif %}
			    {% endfor %}
		    </li> <!-- item proposal -->
			{% endfor %}
		{% else %}
			<p>{% trans "There are no items in this list." %}.<p>
		{% endif %}				
	</ul> <!-- list_view proposal -->
{% endblock %}

{% block footer_content %}
	<div class="exportcsv">
		<a title="Export as CSV file" href="{% url publicweb_export_csv %}">{% trans "Export as CSV file" %}</a>
	</div>
{% endblock %}