{% extends "fullpage.html" %}
{% load i18n %}

{% block title %}{{ block.super }}{{ page_title }}{% endblock %}

{% block body_class%}{{ class }}-list{% endblock %}

{% block content %}
	<div id="content">		
		<form id="sort_form" action="{% url list class %}" method="GET">
			{{ sort_form.as_p }}
			<noscript><input type="submit" value="Submit"></noscript>
		</form>

				
		<ul class="list_view {{ class }}">
			{% if object_list %}
		       	<li class="item header">
					<p class="id">ID</p>
					<p class="excerpt">Excerpt</p>
					<p class="activity">Activity</p>
					<p class="deadline">Deadline</p>		        	
		       	</li>
		        {% for object in object_list %}
				    <li class="item {{ class }}">	        
						<div class="item_id">
						<a title="view item" href="{{ object.get_absolute_url }}">{{ object.id }}</a>
				        </div>
						<div class="item_description">
			            	<p>{{ object.excerpt }}</p>
				        </div>
				        <div class="item_activity">
				            <p>{{ object.feedbackcount }}</p>
				        </div>
				        <div class="item_date deadline">
					        {% if object.deadline %}
					            <span>{{ object.deadline|date:"d N Y" }}</span>
					        {% else %}
					             <span>--</span>
					        {% endif %}
				        </div> <!-- class item_date deadline -->
				    </li> <!-- item proposal -->
				{% endfor %}
			{% else %}
				<p>{% trans "No decisions have been made" %}.<p>
			{% endif %}				
		</ul> <!-- list_view proposal -->
	</div><!-- content end -->
{% endblock %}