{% extends "fullpage.html" %}
{% load i18n %}

{% block title %}
{% if decision_form.instance.excerpt %}
	{{ decision_form.instance.excerpt|safe }}
{% else %}
	{% trans "Add New Decision" %}
{% endif %}{% endblock %}

{% block body_class%}decision-view{% endblock %}

{% block head_content %}
{{ decision_form.media }}
{% endblock %}


{% block heading %}{% if decision_form.instance %}{% trans "View and Edit: " %}<strong class="not_translated">{{ decision_form.instance.excerpt }} (#{{ decision_form.instance.id }})</strong>
{% else %}{% trans "Add New Decision" %}
{% endif %}
{% endblock %}

{% block content %}

	<form id="decision_add" action="" method="post">{% csrf_token %}
		{% for error in decision_form.non_field_errors %}
		    <p class="error" >{{ error }}</p>
		{% endfor %}
		<div id="decision">
			<div class="decision_summary">
			    <div class="form_item description">
			        {{ decision_form.description.errors }}
					<label for="id_description">{% trans "Proposal" %}:</label>
			        {{ decision_form.description }}
			    </div>
			 	<div class="form_item resources">
			        {{ decision_form.budget.errors }}
			        <label for="id_budget">{% trans "Resources/Budget" %}:</label>
			        {{ decision_form.budget }}
			    </div>
			 </div>
			 
			 
			 <div class="decision_meta">
			 	<div class="decision_author">{% trans "Author" %}:{{decision_form.instance.author}}</div>
			 	<div class="form_item status">
			        {{ decision_form.status.errors }}
			        <label for="id_status">{% trans "Status" %}:</label>
			        {{ decision_form.status }}
				</div>
				<div class="form_item">
			        {{ decision_form.decided_date.errors }}
			        <label for="id_decided_date">{% trans "Decided" %}:</label>
			        {{ decision_form.decided_date }}
			    </div>
				<div class="form_item">
			        {{ decision_form.effective_date.errors }}
			        <label for="id_effective_date">{% trans "Effective" %}:</label>
			        {{ decision_form.effective_date }}
			    </div>
				<div class="form_item">
			        {{ decision_form.review_date.errors }}
			        <label for="id_review_date">{% trans "Review" %}:</label>
			        {{ decision_form.review_date }}
			    </div>
				<div id="tags">
				    {{ decision_form.tags.errors }}
				    <label for="id_tags">{% trans "Tags" %}:</label>
				    {{ decision_form.tags }} {{ decision_form.tags.help_text }}
				</div>
			</div>
		</div>
		
		<div id="decision_feedback">
			<h2>{% trans "Feedback" %}</h2>
			{{ feedback_formset.management_form }}
			{% for feedback_form in feedback_formset %}
			{{ feedback_form.id }}
			<div class="formset_item">
				<div class="form_row feedback_summary">
					<div class="form_item rating">
						{{ feedback_form.rating.errors }}
						<label for="id_rating">{% trans "Rating" %}:</label>
						{{ feedback_form.rating }}
			    	</div>
			    	<div class="form_item description">
						{{ feedback_form.description.errors }}
						{{ feedback_form.description }}
			    	</div>
			    </div>
			</div>
		    {% endfor %}		
		</div>
		<div class="decision_controls">
		    <input class="go button" name = "submit" type="submit" value="{% trans "Save" %}" />
		    <input class="go button" name = "submit" type="submit" value="{% trans "Cancel" %}" />
		    
			<div class="form_item watch">
		        {{ decision_form.watch.errors }}
		        <label for="id_watch">{% trans "Watch" %}?</label>
		        {{ decision_form.watch }}
		    </div>
		</div>
	</form>
{% endblock %}
