{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% if decision.short_name %}
	{{ decision.short_name }}
{% else %}
	{% trans "New Decision" %}
{% endif %}{% endblock %}

{% block head %}
{{ decision_form.media }}
{% endblock %}

{% block heading %}
{% if decision.short_name %}
	{{ decision.short_name }}
{% else %}
	{% trans "New Decision" %}
{% endif %}
{% endblock %}

{% block content %}
<form method="post">
<table>
{% for error in decision_form.non_field_errors %}
    <tr><td>{{ error }}</td></tr>
{% endfor %}

{% for field in decision_form %}
    <tr><th>{{ field.label_tag }}:</th><td>{{ field }}</td></td>
	{% for error in field.errors %}
	
    <tr><th></th><td><p class="error">{{ error }}</p></td></tr>
    {% endfor %}
{% endfor %}

{{ concern_form.as_table }}
</table>

<input type="submit" value={% trans "Save" %}>
{% csrf_token %}
</form>
{% endblock %}
