{% extends "fullpage.html" %}
{% load i18n %}

{% block title %}
{% trans "Home" %}
{% endblock %}
{% block body_class%}decision-list{% endblock %}

{% block content %}

<form action="{% url publicweb.views.decision_list %}" method="GET">
{{ filter_form.as_p }}
<noscript><input type="submit" value="Submit"></noscript>
</form>


<table id="decision-list" cellspacing="0">
<tr>
    {% for column in decisions.columns %}
    <th id="{{ column.name }}"{% if column.is_ordered_straight %} class="sorted straight"{% endif %}{% if column.is_ordered_reverse %} class="sorted reverse"{% endif %}><a href="?sort={{ column.name_toggled }}">{{ column }}</a></th>
    {% endfor %}
</tr>
{% for decision in decisions.rows %}
    <tr>
        <td>{{ decision.id }}</td>
        <td><a href="{% url publicweb.views.edit_decision decision_id=decision.id %}">{{decision.short_name}}</a></td>
        <td>{{ decision.status_text }}</td>
		<td>{{ decision.unresolvedfeedback }}</td>
		<td>{{ decision.decided_date }}</td>
		<td>{{ decision.review_date }}</td>
		<td>{{ decision.expiry_date }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}