{% extends "fullpage.html" %}
{% load i18n %}

{% block title %}
{% trans "Home" %}
{% endblock %}


{% block content %}

<table id="decision-list">
<tr>
    {% for column in decisions.columns %}
    <th><a href="?sort={{ column.name_toggled }}">{{ column }}</a></th>
    {% endfor %}
</tr>
{% for decision in decisions.rows %}
    <tr>
		<td><a href="{% url publicweb.views.decision_view_page decision_id=decision.id %}">{{decision.short_name}}</a></td>
		<td>{{ decision.unresolvedconcerns }}</td>
		<td>{{ decision.decided_date }}</td>
		<td>{{ decision.review_date }}</td>
		<td>{{ decision.expiry_date }}</td>
    </tr>
{% endfor %}
</table>
<p class="view-rows">{% trans "items per page" %} <a>25</a> | <a>50</a> | <a>150</a></p>
{% endblock %}