{% extends "base.html" %}

{% block title %}
{% if decision.short_name %}
	{{ decision.short_name }}
{% else %}
	New Decision
{% endif %}{% endblock %}

{% block head %}
{{ decision_form.media }}
{% endblock %}

{% block heading %}
{% if decision.short_name %}
	{{ decision.short_name }}
{% else %}
	New Decision
{% endif %}
{% endblock %}

{% block content %}
<form method="post">
<table>
{{ decision_form.as_table }}
{{ concern_form.as_table }}
</table>
<input type="submit" value="Save">
{% csrf_token %}
</form>
{% endblock %}
