{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ block.super }}{% trans "Decisions Made" %}{% endblock %}

{% block heading %}{% trans "Decisions Made" %}{% endblock %}

{% block body_class%}{{ tab }}-list{% endblock %}

{% block main_content %}
	<ul class="summary-list">
		{% if object_list %}
		<li class="summary-item summary-header {{ tab }}">
			<a href="{{ request.path }}" class="field id header">
				<p class="{% if sort == 'id' %}sort{% endif %}">ID</p>
			</a>
			<a href="{{ request.path }}?sort=excerpt" class="field excerpt header">
				<p class="{% if sort == 'excerpt' %}sort{% endif %}">Excerpt</p>
			</a>
			{% if tab == 'decision' %}
			<a href="{{ request.path }}?sort=decided_date" class="field decided_date header {% if sort == 'decided_date' %}sort{% endif %}">
				<p class="{% if sort == 'decided_date' %}sort{% endif %}">Decided Date</p>
			</a>
			<a href="{{ request.path }}?sort=review_date" class="field review_date header {% if sort == 'review_date' %}sort{% endif %}">
				<p class="{% if sort == 'review_date' %}sort{% endif %}">Review Date</p>
			</a>
			{% endif %}
			{% if tab == 'archived' %}
			<a href="{{ request.path }}?sort=created_date" class="field created_date header">
				<p class="{% if sort == 'created_date' %}sort{% endif %}">Created Date</p>
			</a>
			<a href="{{ request.path }}?sort=archived_date" class="field archived_date header">
				<p class="{% if sort == 'archived_date' %}sort{% endif %}">Archived Date</p>
			</a>			
			{% endif %}
			{% if tab == 'proposal' %}
			<a href="{{ request.path }}?sort=feedback" class="field feedbackcount header">
				<p class="{% if sort == 'feedback' %}sort{% endif %}">Feedback</p>
			</a>{% comment %}
			<a href="{{ request.path }}?sort=watchers" class="field watchercount header">
				<p class="{% if sort == 'watchers' %}sort{% endif %}">Watchers</p>
			</a>{% endcomment %}
			<a href="{{ request.path }}?sort=deadline" class="field deadline header">
				<p class="{% if sort == 'deadline' %}sort{% endif %}">Deadline</p>
			</a>
			{% endif %}
		</li>
        {% for object in object_list %}
	    <li class="summary-item">
	    <a class="urloverlay" href="{% url publicweb_item_detail object.id %}"></a>
	    	<dl>
				<dt>ID</dt>
				<dd class="iconified field id">
					<p>{{ object.id }}</p>
				</dd>
				<dt>Excerpt</dt>
				<dd class="field excerpt">
					<p>{{ object.excerpt }}</p>
				</dd>
				{% if tab == 'decision' %}
				<dt>Decided Date</dt>
				<dd class="field decided_date">
					<p>{{ object.decided_date }}</p>
				</dd>
				<dt>Review Date</dt>
				<dd class="field review_date">
					<p>{{ object.review_date }}</p>
				</dd>
				{% endif %}
				{% if tab == 'archived' %}
				<dt>Created Date</dt>
				<dd class="field created_date">
					{{ object.created_date }}
				</dd>
				<dt>Archived Date</dt>
				<dd class="field archived_date">
					{{ object.archived_date }}
				</dd>
				{% endif %}
				{% if tab == 'proposal' %}
				<dt>Feedback</dt>
				<dd class="field feedbackcount">
					{{ object.feedbackcount }}
				</dd>{% comment %}
				<dt>Watchers</dt>
				<dd class="field watchercount">
					{{ object.watchercount }}
				</dd>{% endcomment %}
				<dt>Deadline</dt>
				<dd class="field deadline">
					{{ object.deadline }}
				</dd>
				{% endif %}
		    </dl>
	    </li> <!-- item proposal -->
		{% endfor %}
		{% else %}
			<p>{% trans "There are no decisions made." %}.<p>
		{% endif %}				
	</ul> <!-- list_view proposal -->
{% endblock %}

{% block footer_content %}
	<p class="export"><a title="Export as CSV file" href="{% url publicweb_export_csv %}">{% trans "Export as CSV file" %}</a></p>
{% endblock %}
