{% extends "fullpage.html" %}
{% load i18n %}

{% comment %}This is a stub template for the time being - PCB {% endcomment %}

{% block title %}
	{{ decision.excerpt}}
{% endblock %}

{% block head_content %}
{{ object.media }}
{% endblock %}

{% block heading %}
	{{ object.excerpt }}
{% endblock %}

{% block content %}

{% if show_form %}
<form action="#" method="post">
  {% include "decision_form.html" %}
    <p class="decision_controls">
      <input type="submit" name="submit" value="Submit" />
      <input type="submit" name="submit" value="Cancel" />
    </p>
  </form>
{% else %}

{% if object.decided_date %}
	Decided Date: {{ object.decided_date }}
{% endif %}
{% if object.effective_date %}
	Effective Date: {{ object.effective_date }}
{% endif %}
{% if object.review_date %}
	Review Date: {{ object.review_date }}
{% endif %}
{% if object.expiry_date %}
	Expiry Date: {{ object.expiry_date }}
{% endif %}
<p>
<a href="{% url view_decision object.id %}edit/">Edit</a>
</p>
{% endif %}

{% endblock %}
