{% extends "fullpage.html" %}
{% load i18n %}

{% block title %}
{% if decision.short_name %}
	{{ decision.short_name }}
{% else %}
	{% trans "Add New Decision" %}
{% endif %}{% endblock %}

{% block head_content %}
{{ decision_form.media }}
{% endblock %}

{% block heading %}
{% if decision.short_name %}
	{% trans "View and Edit: " %}{{ decision.short_name }}
{% else %}
	{% trans "Add New Decision" %}
{% endif %}
{% endblock %}

{% block content %}

<form id="decision-add" method="post">
{% for error in decision_form.non_field_errors %}
    <p class="error" >{{ error }}</p>
{% endfor %}
<div class="fields"> 
{% for field in decision_form %}
    <p class="{{ field.name }}">{{ field.label_tag }}{{ field }}</p>
	{% for error in field.errors %}
    <p class="error">{{ error }}</p>
{% endfor %}
{% endfor %}
</div>
<div class="fields concerns">
{{ concern_form.as_p }}
</div>

<input class="go button" type="submit" value={% trans "Save" %}>
{% csrf_token %}
</form>
{% for field in decision_form %}
{% endfor %}
{% endblock %}
