{% load i18n %}

<div id="decision_detail" class="{{ object.status }}">
	<div class="stats">
		<p><span class="question"><em>{{ object.get_feedback_statistics.question }}</em> {% trans "questions" %}</span></p>
		<p><span class="danger"><em>{{ object.get_feedback_statistics.danger }}</em> {% trans "danger" %}</span></p>
		<p><span class="concern"><em>{{ object.get_feedback_statistics.concern }}</em> {% trans "concerns" %}</span></p>
		<p><span class="consensus"><em>{{ object.get_feedback_statistics.consensus }}</em> {% trans "consensus" %}</span></p>
	</div>
	<div class="summary">
		<div class="author">
		<p>Created by {{ object.author }}</p>
		</div>
		<div class="description">
			<p>{{ object.description|urlize|linebreaksbr }}</p>
		</div>
	{% if object.status_text = 'decision' %}
	{% if object.people %}
		<div class="people">
			{% trans "Persons Responsible:" %}			
			<strong>{{ object.people }}</strong>
		</div>
	{% endif %}
	{% endif %}
	</div>
	<div class="meta">
		<div class="dates">
	{% if object.status_text = 'proposal' %}
	{% if object.deadline %}
			<div class="date">
				{% trans "Deadline:" %}			
				<strong>{{ object.deadline }}</strong>
			</div>
	{% endif %}
	{% endif %}

	{% if object.status_text = 'decision' %}	
	{% if object.decided_date %}
			<div class="date">
				{% trans "Decided" %}			
				<strong>{{ object.decided_date }}</strong>
			</div>
	{% endif %}
	{% if object.effective_date %}
			<div class="date">
				{% trans "Effective" %}
				<strong>{{ object.effective_date }}</strong>
			</div>
	{% endif %}
	{% if object.review_date %}
			<div class="date">
				{% trans "Review" %}
				<strong>{{ object.review_date }}</strong>
			</div>
	{% endif %}
	{% if object.expiry_date %}
			<div class="date">
				{% trans "Expiry" %}
				<strong>{{ object.expiry_date }}</strong>
			</div>
	{% endif %}
	{% endif %}
		</div>
		<div class="controls">
			<p class="edit"><a href="{% url publicweb_decision_snippet_update object.id %}">Edit</a></p>
		</div>
	</div>
</div>
