{% load i18n %}
<form class = 'feedback_form' action="" method="post">{% csrf_token %}
	<div class="decision_feedback">
		<div class="formset_item feedback feedback{{ form.instance.rating }}">
			<div class="form_row feedback_summary">
				<div class="form_item rating">
					{{ form.rating.errors }}
					<label for="id_rating">{% trans "Rating" %}</label>
					{{ form.rating }}
		    	</div>
		    	<div class="form_item description">
					{{ form.description.errors }}
					{{ form.description }}
		    	</div>
		    	<div class="controls">  
					<input type="submit" name="submit" value="Save" />				    
					<input type="submit" name="submit" value="Cancel" />				    
				</div>	    	
		    </div>
		</div>
	</div>
</form>
