{% extends "base.html" %}
{% load i18n %}

{% block title %}
	{{ object.excerpt}}
{% endblock %}

{% block head_content %}
{{ object.media }}
	<link href="{{ MEDIA_URL }}jquery/jquery-ui.css" type="text/css" media="all" rel="stylesheet" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
{% if not show_form %}
	<script type="text/javascript">
jQuery(function ($) {
	function replaceWithRemote(url, selector) {
		$.ajax(url,
				{
					cache: false,
					success: function (data) { $(selector).replaceWith(data); }
				});
	}

	// Override redirect to form and put it inline
	$(".edit_decision a").live("click", function (e) {
		replaceWithRemote("{% url publicweb_decision_snippet_update object.id %}", "#decision");
		e.preventDefault();
	});

	// Override redirect to view and put it inline
	$('.edit_decision_form').live("submit", function (e) {
		var parameters = $(this).serialize();

		$.post("{% url publicweb_decision_update object.id %}",
			parameters,
			function (data) {
				// Post successful, now fetch stored value and add it as a snippet
				replaceWithRemote("{% url publicweb_decision_snippet_detail object.id %}", "form.edit_decision_form");
			}
		);
		e.preventDefault();
	});
});
	</script>{% endif %}
{% endblock %}

{% block heading %}
	{% trans "Edit proposal:" %} <span>{{ object.excerpt }}</span>
{% endblock %}

{% block main_content %}

{% include "decision_detail_snippet.html" %}

<h2 class="page_title">{% trans "Feedback" %}</h2>
<div class="decision_feedback">
{% if object.feedback_set.all %}
	<ol class="feedback_list">
{% for feedback in object.feedback_set.all %}
{% include "feedback_detail_snippet.html" with object=feedback %}
{% endfor %}
	</ol>
{% else %}
<p>{% trans "No feedback yet." %}</p>
{% endif %}
<a href='{% url publicweb_feedback_create object.id %}'>Click to add feedback</a>
</div>

{% endblock %}
