{% extends "base.html" %}
{% load i18n %}
{% load publicweb_filters %}

{% block title %}{{ block.super }}{{ page_title }}{% endblock %}

{% block body_class%}{{ class }}-list{% endblock %}

{% block main_content %}
	<h2>{{ status }}{% trans " list" %}</h2>
	<ul class="summary-list">
		{% if object_list %}
		<div class="summary-header {{ status }}">
			{% for column in columns %}
			{% if column == "feedbackcount" %}
				<span class="field {{ column }} header">Feedback</span>
			{% else %}
				<a href="{{ request.path }}?sort={{ column }}" class="field {{ column }} header {% if sort == column %}sort{% endif %}">{{ object_list|first|model_name:column }}</a>
			{% endif %}
			{% endfor %}
		</div>
        {% for object in object_list %}
	    <li class="summary-item">
	    <a class="urloverlay" href="{% url publicweb_item_detail object.id %}"></a>
	    	<dl>
		    	{% for column in columns %}
		    	{% if column == 'id' %}
				<dt>ID</dt>
				<dd class="iconified field {{column}}">
					{{ object.id|decision_field:column }}
				</dd>
				{% else %}
				{% if object.id|decision_field:column %}
				<dt>{{ column }}</dt>
				<dd class="field {{column}}">
					{{ object.id|decision_field:column }}
				</dd>
	        	{% else %}
				<dt>{{ column }}</dt>
				<dd class="field {{column}}">
					--						
				</dd>
		        {% endif %}
		        {% endif %}
		    	{% endfor %}
		    </dl>
	    </li> <!-- item proposal -->
		{% endfor %}
		{% else %}
			<p>{% trans "There are no items in this list." %}.<p>
		{% endif %}				
	</ul> <!-- list_view proposal -->
{% endblock %}

{% block footer_content %}
	<div class="exportcsv">
		<a title="Export as CSV file" href="{% url publicweb_export_csv %}">{% trans "Export as CSV file" %}</a>
	</div>
{% endblock %}

