{% extends "base.html" %}
{% load i18n %}

{% block title %}
	{{ object.excerpt}}
{% endblock %}

{% block head_content %}
{{ object.media }}
	<link href="{{ MEDIA_URL }}jquery/jquery-ui.css" type="text/css" media="all" rel="stylesheet" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
	<script type="text/javascript">
jQuery(function ($) {
	/*
	 * Common functions
	 */
	function replaceWithRemote(url, selector) {
		$.ajax(url,
				{
					cache: false,
					success: function (data) { $(selector).replaceWith(data); }
				});
	}

	function updateAndReplace(update_url, replace_url, node) {
		var parameters = $(node).serialize();

		$.post(update_url,
			parameters,
			function (data) {
				// Post successful, now fetch stored value and add it as a snippet
				replaceWithRemote(replace_url, node);
			}
		);
	}

	/*
	 * Proposal in-line editing
	 */
	// Override redirect to form and put it inline
	$(".edit_decision a").live("click", function (e) {
		replaceWithRemote("{% url publicweb_decision_snippet_update object.id %}", "#decision_detail");
		e.preventDefault();
	});

	// Override redirect to view and put it inline
	$("#decision_update_form").live("submit", function (e) {
		updateAndReplace("{% url publicweb_decision_update object.id %}",
						"{% url publicweb_decision_snippet_detail object.id %}",
						"form#decision_update_form");
		e.preventDefault();
	});

	/*
	 * Feedback in-line editing
	 */
	// Fake id, DB will always start at least with 1; Error-prone (fails if URL contains 0 elsewhere)
	var snippet_update_url_template = "{% url publicweb_feedback_snippet_update 0 %}",
		snippet_detail_url_template = "{% url publicweb_feedback_snippet_detail 0 %}",
		feedback_update_url_template = "{% url publicweb_feedback_update 0 %}";

	// Override redirect to form and put it inline
	$(".feedback_list .feedback_edit a").live("click", function (e) {
		var wrapper = $(this).parents(".feedback_wrapper"),
			object_id = wrapper.parent().attr("id").slice(2),
			snippet_update_url = snippet_update_url_template.replace('0', object_id);

		$('.feedback_list input[value="Cancel"]').click(); // Close open feedback first
		replaceWithRemote(snippet_update_url, wrapper);
		e.preventDefault();
	});

	// Override redirect to view and put it inline
	$('.feedback_list .feedback_form').live("submit", function (e) {
		var $this = $(this),
			object_id = $this.parent().attr("id").slice(2),
			feedback_update_url = feedback_update_url_template.replace('0', object_id),
			snippet_detail_url = snippet_detail_url_template.replace('0', object_id);;

		updateAndReplace(feedback_update_url, snippet_detail_url, $this);
		e.preventDefault();
	});
});
	</script>
{% endblock %}

{% block heading %}
	{% trans "Edit proposal:" %} <span>{{ object.excerpt }}</span>
{% endblock %}

{% block main_content %}

{% include "decision_detail_snippet.html" %}

<h2 class="page_title">{% trans "Feedback" %}</h2>
<div class="decision_feedback">
{% if object.feedback_set.all %}
	<ol class="feedback_list">
{% for feedback in object.feedback_set.all %}
{% include "feedback_detail_snippet.html" with object=feedback %}
{% endfor %}
	</ol>
{% else %}
<p>{% trans "No feedback yet." %}</p>
{% endif %}
<a href='{% url publicweb_feedback_create object.id %}'>Click to add feedback</a>
</div>

{% endblock %}
