{% extends "fullpage.html" %}
{% load i18n %}
{% load django_tables2 %}

{% block title %}
{% trans "Home" %}
{% endblock %}
{% block body_class%}decision-list{% endblock %}

{% block content %}
	<div id="content">
		<h2 class="page_title">Proposals</h2>
		<a class="button add_proposal" href="{% url publicweb.views.add_decision %}">{% trans "Add Proposal" %}</a>	
		<ul class="list_view proposal">
	        {% for proposal in proposals.rows %}
			    <li class="item proposal">	        
					<div class="item_id">
					<a title="view item" href="{{ proposal.record.get_absolute_url }}">{{ proposal.id }}</a>
			        </div>
					<div class="item_description">
		            	<p>{{ proposal.description_excerpt }}</p>
			        </div>
			        <div class="item_activity">
			            <img alt="Barchart" src="/site_media/images/activity-barchart.svg" />
			        </div>
			        <div class="item_date deadline">
				        {% if proposal.decided_date %}
				            <span>{{ proposal.decided_date|date:"d N Y" }}</span>
				        {% else %}
				             <span>--</span>
				        {% endif %}
			        </div> <!-- class item_date deadline -->
			    </li> <!-- item proposal -->
			{% endfor %}	    
		</ul> <!-- list_view proposal -->
	</div><!-- content end -->
{% endblock %}