{% extends "fullpage.html" %}
{% load i18n %}

{% block title %}{{ block.super }}{% trans "Proposals" %}{% endblock %}

{% block body_class%}proposal-list{% endblock %}

{% block heading %}
	{% trans "Active Proposals:" %}
{% endblock %}

{% block content %}
	<div id="content">		
		<form id="sort_form" action="{% url publicweb.views.proposal_list %}" method="get">
			{{ sort_form.as_p }}
		</form>
				
		<ul class="list_view proposal">
			{% if object_list %}
		        {% for object in object_list %}
				    <li class="item proposal">	        
						<div class="item_id">
						<a title="view item" href="{{ object.get_absolute_url }}">{{ object.id }}</a>
				        </div>
						<div class="item_description">
			            	<p>{{ object.excerpt }}</p>
				        </div>
				        <div class="item_activity">
				            <img alt="Barchart" src="/site_media/images/activity-barchart.svg" />
				        </div>
				        <div class="item_date deadline">
				        	Deadline:
					        {% if object.deadline %}
					            <span>{{ object.deadline|date:"d N Y" }}</span>
					        {% else %}
					             <span>--</span>
					        {% endif %}
				        </div> <!-- class item_date deadline -->
				    </li> <!-- item proposal -->
				{% endfor %}
			{% else %}
				<p>{% trans "There are currently no proposals" %}.<p>
			{% endif %}				
		</ul> <!-- list_view proposal -->
	</div><!-- content end -->
{% endblock %}