/* column container */
.colmask {
    position: relative; /* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
    clear: both;
    float: left;
    width: 100%; /* width of whole page */
    overflow: hidden; /* This chops off any overhanging divs */
	border-right:2px dotted #ccc
}

/* 2 column left menu settings */


.leftmenu .colright {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 2px dotted #CCCCCC;
    float: left;
    left: 200px;
    position: relative;
    width: 200%;
}

.leftmenu .col1wrap {
    float: right;
    width: 50%;
    position: relative;
    right: 200px;
    padding-bottom: 1em;
}

.leftmenu .col1 {
    margin: 0 15px 0 230px;
    overflow: hidden;
    position: relative;
    right: 100%;
}

.leftmenu .col2 {
    float: left;
    width: 170px;
    position: relative;
    right: 185px;
}