.colmask {
    clear: both;
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.colmask {
    background: none repeat scroll 0 0 #fff;
}
.colmid {
    background: none repeat scroll 0 0 #FFFFFF;
    border-right: 2px dotted #ddd;
    float: left;
    margin-left: -200px;
    position: relative;
    right: 100%;
    width: 200%;
}

.colleft {
    border-right: 2px dotted #ddd;
    float: left;
    left: 400px;
    margin-left: -50%;
    position: relative;
    width: 100%;
}
.col1wrap {
    float: left;
    padding-bottom: 1em;
    position: relative;
    right: 200px;
    width: 50%;
}
.col1 {
    left: 200%;
    margin: 0 230px;
    overflow: hidden;
    position: relative;
}

.col1, .col2 {
	padding-bottom:20px;
}
.col2 {
    float: right;
    position: relative;
    right: 15px;
    width: 170px;
}
.col3 {
    float: right;
    left: 50%;
    margin-right: 45px;
    position: relative;
    width: 170px;
}
