body {
    border: 0 none;
    font-size: 85%;
    margin: 0;
    min-width: 600px;
    padding: 0;
    width: 100%;
	font-family:"Ubuntu", "Trebuchet MS", Arial, verdana, sans-serif;
}
a {
    color: #336699;
}
a:hover {
    background: none repeat scroll 0 0 #336699;
    color: #FFFFFF;
    text-decoration: none;
}

a img:hover {
	background-color:transparent;
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
	font-weight:normal;
	color:#333;
}

h2 {
    border-bottom: 2px dotted #CCCCCC;
    margin-bottom: 0.8em;
    padding-bottom: 0.2em;
}

p {
    margin: 0.4em 0 0.8em;
    padding: 0;
	color:#333;
}
img {
    margin: 10px 0 5px;
}

/* Defining sections */

#wrapper {
    height: 100%;
    position: absolute;
    width: 100%;
}

#header, #content, #footer {
	display:block;
	float:left;
	width:100%;
	clear:both;
}

#branding, #nav .navigation , #columns, #site-info {
	max-width:1000px;
	min-width:550px;
	margin:0 auto;
	float:none;
	position:relative;
	clear:both;
	padding:0 15px;
}

/* Header */

#header {
    clear: both;
    float: left;
    width: 100%;
}

#header {
	background-color:#fff;
	position:fixed;
	z-index:2;
}

#header h1 {
    display: block;
    float: left;
    padding: 0 10px 0 20px;
}

#header h1 img {
	margin:0;
	padding:0;
}

#header h1 a:hover {
	background-color:transparent;
}

#branding {
    display: block;
    height: 3em;
    padding: 20px 0px;
    width: 100%;
}

#header .user-org {
    color: #333333;
    font-size: 2em;
    line-height: 1.5em;
    padding-left: 0.2em;
}

#user_access {
	float: right;
    margin-right: 10px;
    padding-top: 15px
}


#user_access a {
    padding: 3px;
    position: relative;
    top: -3px;
}

/* Navigation */

#nav {
	border-bottom: 10px solid #CCCCCC;
}

#nav ul {
    clear: both;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav ul li {
    display: inline;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav ul li a {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 0 0 5px 5px;
    color: #000000;
    display: block;
    float: left;
    left: 0;
    line-height: 1.3em;
    margin: 10px 4px 0 0;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

#nav ul li a:hover {
    background: none repeat scroll 0 0 #336699;
    color: #FFFFFF;
}
#nav ul li a.active, #header ul li a.active:hover {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    font-weight: bold;
}
#nav ul li a span {
    display: block;
}

#nav ul li.selected a {
	background-color:#AAD400;
	color:#fff
}

#nav a.go.nav {
    background-color: #A9D300;
	background-image: url("/site_media/images/sprite-decision-icons.png");
    background-position: right 0px;
    background-repeat: no-repeat;
    border-radius: 0 0 10px 10px;
    color: #FFFFFF;
    font-size: 1.2em;
    margin: 10px 5px 0 0;
    padding: 6px 60px 7px 10px;
}

#nav a.go.nav:hover {
	color: #333;
}

#nav a.go.nav.list {
	background-image: url("/site_media/images/sprite-decision-icons.png");
    background-position: right bottom;
}

#nav a.go.nav.csv {
	background-image: url("/site_media/images/sprite-decision-icons.png");
    background-position: right -166px;
}


#contacts p {
    color: #333333;
    font-size: 1.3em;
}

/* Content */


#content {
    background-color: #FFFFFF;
    clear: both;
    display: block;
    margin-top: 135px;
}

#columns.fullpage {
    background: #fff;
}

#columns.fullpage .col1 {
    margin: 0;
	float:left;
	width:100%;
}

#columns .col1 h2:first-child {
	font-size:1.5em;
	border:none;
	margin-top:15px;
}

.go, .button {
    background-color: #A9D300;
	border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    display: inline;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
	box-shadow:none;
}

.go:hover {
	background-color: #336699;
}

.button {
	display:block;
	float:left;
	
}

/* login form */

body.login #header, body.login #content {
	position:relative;
	padding-top:0;
	margin-top:0;
}

body.login #header {
    border-bottom: 10px solid #EEEEEE;
    margin-bottom: 20px;
    margin-top: 30px;
}

body.login #header h1 {
	padding-left: 0px;
}

body.login #branding, body.login #columns {
	width:400px;
}

body.login #columns .col1 h2:first-child {
	float:left;
	padding-right:20px;
}

#login-form {
    background: none repeat scroll 0 0 #EFEFEF;
    border-radius: 20px 20px 20px 20px;
    display: block;
    float: left;
    padding: 20px;
    width: 280px;
}

#login-form p {
    display: block;
	overflow:auto;
    padding: 5px;
	margin:0;
}

#login-form label {
    display: block;
    float: left;
    font-size: 1.3em;
    line-height: 1.5em;
	color:#333;
}

#login-form input {
    border-radius: 10px 10px 10px 10px;
    display: block;
    float: right;
    padding: 5px;
    width: 150px;
}

form input.button {
    background-color: #A9D300;
    color: #FFFFFF;
    font-weight: bold;
    width: 100px!important;
	border:none;
	margin:5px 5px 0 0;
}

h2.page_title {
	display:none;
}


/* Decision List table */

#decision_list_filter {float:right;}

#decision-list {
	padding:20px;
	width:100%;
	border:5px solid #ddd;
	border-radius:15px;

}

#decision-list .fields.concerns {
    background-color: #EEEEEE;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
    padding: 20px 10px;
}

#decision-list th {
	text-align:left;
	padding:0 10px;
}

#decision-list th a {
	font-size:1.2em;
	text-decoration:none;
}

#decision-list td {
    border-bottom: 1px solid #DDDDDD;
    padding: 8px 10px;
}

#decision-list th a {
	background-position:right -94px;
	background-image:url(/site_media/images/sprite-sort-arrows.png);
	background-repeat:no-repeat;
	padding-right:20px;
}

#decision-list th.sorted.straight a {
	color:#A9D300;
	background-position: right -294px;
}

#decision-list th.sorted.reverse a {
	background-position: right -194px;
	color:#A9D300;
}

#decision-list #id {
	width:30px;
}

#decision-list #short_name {
    width: 300px;
}

#decision-list td a {
    background-color: #EFFFAF;
    border-radius: 5px 5px 5px 5px;
    color: #333333;
    display: block;
    font-size: 1.2em;
    font-weight: normal;
    padding: 5px 30px 5px 10px;
    text-decoration: none;
}

#decision-list td a:hover {
	background-color:#A9D300;
	color:white;
}

/* Add Decision Form */



form#decision_add{
	border:2px solid #ddd;
	border-radius:20px;
	padding:20px;
	position:relative;
	overflow:auto;
}


label {
	display: block;
	float: left;
	margin-right: 0.5em;
	padding:4px 0px;
	color:#666;
	min-width:4em;
	font-weight:bold;
}

 form input, form textarea {
	border-radius:8px;
	border:2px solid #ddd;
	padding:2px 5px;
	box-shadow: inset 2px 2px 5px #ededed;
}

.form_row {
	clear:both;
	position:relative;
	width:100%;
	float:left;
	margin:10px 0;
}

.form_item {
	float:left;
}

.form_row.decision_summary .form_item {
	font-size:1.2em;
	font-weight:bold;
	padding:10px;	
}

.form_row.decision_summary .form_item.status {width:175px; float:right; padding: 10px 10px 10px 0;}
.form_row.decision_summary .form_item.short_name {width:62%; padding: 10px 0 10px 10px !important;}
.form_row.dates .form_item {width:25%;}
#.form_item.status {width:140px;}
.form_item.status #id_status {width:175px}
.form_item.short_name {width:65%}
.form_row.decision_summary .short_name input,
.form_row.dates .form_item input {width:90%;}
.form_row.resources .form_item input {width:95%;}
.form_row.resources .form_item {width:50%;}
.form_row.description .form_item {width:100%;}
.form_row.description #id_description {width:98%;}
.form_item #id_expiry_date, #id_people  {float:right;}

.decision_summary {
	background-color: #EFFFAF;
    border-radius: 10px 10px 10px 10px;
	position:relative;
}

#id_short_name {
	padding:10px;
	font-size:1.2em;
}

#decision_add .form_item.status {
	float:right;
}

/* Feedback */

#feedback {
	margin:20px 0;
	display:block;
	clear:both;
	position:relative;
	overflow:auto;
	height:100%;
	width:100%;
	float:left;
}

#feedback h2 {
	margin-bottom:0;
	color: #A7B4BF;
    font-size: 2em;
}

div.formset_item {
    border-radius: 10px 10px 10px 10px;
    display: block;
    float: left;
    width: 100%;
}

.feedback_summary {
    background-color: #E0E8EF;
    border-radius: 10px 10px 10px 10px;
    display: block;
    font-size: 1.2em;
    position: relative;
}

.feedback_summary input {
	width:90%;
	padding:10px;
}


.feedback_summary .form_item {
	margin-right: 0;
    overflow: hidden;
    padding: 10px 0 10px 10px !important;
    position: relative;
    width: 62%;
}

.feedback_summary .form_item.rating {
	float: right;
    padding: 10px 10px 10px 0 !important;
    width: 175px;
}

.form_row.description {
	margin:0;
}

.form_row.description textarea {
	width:85%;
	float:right;
	position:relative;
	display:block;
	height:100px;
}


/* Footer */

#footer {
    border-top: 2px solid #EEEEEE;
    clear: both;
    float: left;
    font-size: 0.9em;
    padding-top: 10px;
    width: 100%;
	padding-bottom:20px;
	margin-top:20px;
}

#footer p {
    margin: 0;
	color: #ccc;
	text-align:right;
}



ul.errorlist
{
	border: 2px solid #fdd;
	background: #fee;
	list-style-type: none;
	padding: 0.2em;
	float: left;
	margin: 0 1em 0 0;
}

.error
{
	color: red;
}

.hide {
	display:none;
}
