body {
    border: 0 none;
    font-size: 85%;
    margin: 0;
    min-width: 600px;
    padding: 0;
    width: 100%;
	font-family:"Ubuntu", "Trebuchet MS", Arial, verdana, sans-serif;
}
a {
    color: #336699;
}
a:hover {
    background: none repeat scroll 0 0 #336699;
    color: #FFFFFF;
    text-decoration: none;
}

a img:hover {
	background-color:transparent;
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
	font-weight:normal;
	color:#333;
}

h2 {
    border-bottom: 2px dotted #CCCCCC;
    margin-bottom: 0.8em;
    padding-bottom: 0.2em;
}

p {
    margin: 0.4em 0 0.8em;
    padding: 0;
	color:#333;
}
img {
    margin: 10px 0 5px;
}

/* Defining sections */

#wrapper {
    height: 100%;
    position: absolute;
    width: 100%;
}

#branding, #nav .navigation , #columns, #site-info {
	max-width:1000px;
	margin:0 auto;
	float:none;
	position:relative;
	clear:both;
	padding:0 15px;
}

/* Header */

#header {
    clear: both;
    float: left;
    width: 100%;
}

#header {
	background-color:#fff;
	position:fixed;
	z-index:2;
}

#header h1 {
	float:left;
	display:block;
}

#header h1 img {
	margin:0;
	padding:0;
}

#header h1 a:hover {
	background-color:transparent;
}

#branding {
    display: block;
    height: 3em;
    padding: 20px 15px;
    width: 100%;
}

#user-access {
	float: left;
    margin-left: 10px;
    padding-top: 5px
}

#user-access .user-org {
	color: #333333;
    font-size: 2em
}

#user-access a {
    padding: 3px;
    position: relative;
    top: -3px;
}

/* Navigation */

#nav {
	border-bottom: 10px solid #CCCCCC;
}

#nav ul {
    clear: both;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav ul li {
    display: inline;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav ul li a {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 0 0 5px 5px;
    color: #000000;
    display: block;
    float: left;
    left: 0;
    line-height: 1.3em;
    margin: 10px 4px 0 0;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

#nav ul li a:hover {
    background: none repeat scroll 0 0 #336699;
    color: #FFFFFF;
}
#nav ul li a.active, #header ul li a.active:hover {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    font-weight: bold;
}
#nav ul li a span {
    display: block;
}

#nav ul li.selected a {
	background-color:#AAD400;
	color:#fff
}

#nav a.go.nav {
    background-color: #A9D300;
    background-image: url("/site_media/images/icon-add-decision.png");
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 0 0 10px 10px;
    color: #FFFFFF;
    font-size: 1.3em;
    margin: 10px 5px 0 0;
    padding: 10px 60px 10px 10px;
}

#nav a.go.nav:hover {
	color: #333;
}

#nav a.go.nav.list {
	background-image: url("/site_media/images/icon-decision-list.png");
}


#contacts p {
    color: #333333;
    font-size: 1.3em;
}

/* Content */


#content {
    background-color: #FFFFFF;
    clear: both;
    display: block;
    margin-top: 135px;
}

#columns.fullpage {
    background: #fff;
}

#columns.fullpage .col1 {
    margin: 0;
	float:left;
	width:100%;
}

#columns .col1 h2:first-child {
	font-size:2em;
	border:none;
	margin-top:15px;
}

.go {
    background-color: #A9D300;
    -moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    display: inline;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

.go:hover {
	background-color: #336699;
}


/* Decision List table */

table#decision-list {
	padding:10px;
	width:100%;
	border:5px solid #ddd;
	border-radius:15px;
}


/* Footer */

#footer {
    border-top: 2px solid #EEEEEE;
    clear: both;
    float: left;
    font-size: 0.9em;
    padding-top: 10px;
    width: 100%;
	padding-bottom:20px;
	margin-top:20px;
}

#footer p {
    margin: 0;
	color: #AAD400;
	text-align:right;
}



ul.errorlist
{
	border: 2px solid #fdd;
	background: #fee;
	list-style-type: none;
	padding: 0.2em;
	float: left;
	margin: 0 1em 0 0;
}

p.error
{
	color: red;
}
