body {
    border: 0 none;
    font-size: 85%;
    margin: 0;
    min-width: 600px;
    padding: 0;
    width: 100%;
	font-family:"Ubuntu", "Trebuchet MS", Arial, verdana, sans-serif;
}
a {
    color: #336699;
}
a:hover {
    background: none repeat scroll 0 0 #336699;
    color: #FFFFFF;
    text-decoration: none;
}

a img:hover {
	background-color:transparent;
}
h1, h2, h3 {
    margin: 0.8em 0 0.2em;
    padding: 0;
	font-weight:normal;
	color:#333;
}

h2 {
    border-bottom: 2px dotted #CCCCCC;
    margin-bottom: 0.8em;
    padding-bottom: 0.2em;
}

p {
    margin: 0.4em 0 0.8em;
    padding: 0;
	color:#333;
}
img {
    margin: 10px 0 5px;
}

/* Defining sections */

#wrapper {
    height: 100%;
    position: absolute;
    width: 100%;
}

#header-wrap, #nav ul.navigation , #columns, #site-info {
	max-width:1024px;
	margin:0 auto;
	float:none;
	position:relative;
	clear:both;
	padding:0;
}

/* Header */

#header {
    clear: both;
    float: left;
    width: 100%;
}

#header {
    border-bottom: 10px solid #ccc;
	background-color:#fff;
}

#header h1 {
	float:left;
	display:block;
}

#header h1 a:hover {
	background-color:transparent;
}

#branding p {
    color: #666666;
    float: left;
    font-size: 1.1em;
    margin: 0;
    padding: 35px 15px;
    width: 25%;
}
/* Navigation */

#nav {
    clear: both;
    margin: 0;
    overflow: auto;
    padding: 0;
}

#nav ul {
    clear: left;
    float: left;
    list-style: none outside none;
    margin: 10px 0 0;
    padding: 0;
    width: 100%;
}
#nav ul li {
    display: inline;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav ul li a {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 5px 5px 0 0;
    color: #000000;
    display: block;
    float: left;
    left: 0;
    line-height: 1.3em;
    margin: 0 4px 0 0;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

#nav ul li a:hover {
    background: none repeat scroll 0 0 #336699;
    color: #FFFFFF;
}
#nav ul li a.active, #header ul li a.active:hover {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    font-weight: bold;
}
#nav ul li a span {
    display: block;
}

#nav ul li.selected a {
	background-color:#AAD400;
	color:#fff
}

#user-access {
    background-color:#efefef;
	border-radius:10px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
    display: block;
    float: right;
    margin-top: 20px;
    padding: 5px 10px;
    position: relative;
    right: 0;
}

#user-access a {
	text-decoration:none;
}

#contacts p {
    color: #333333;
    font-size: 1.3em;
}

/* Content */

#content {
	background-color:#fff;
	display:block;
	clear:both;
}

#columns .col1 h2:first-child {
	font-size:2.5em;
	border:none;
	margin-top:15px;
}

.go {
    background-color: #336699;
    -moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

.go:hover {
	background-color: #A9D300;
}

/* Snippets */

.callout {
    border: 3px solid #EEEEEE;
    border-radius: 10px 10px 10px 10px;
    margin: 20px 0;
    overflow: auto;
    padding: 13px;
}

.callout h2 {
	margin:0;
	font-weight:bold;
	border:none;
	color:#336699;
}

/* 1 column full page settings */
#columns.fullpage {
    background: #fff;
}

#columns.fullpage .col1 {
    margin: 0 15px;
	float:left;
}


/* Footer */

#footer {
    border-top: 2px solid #EEEEEE;
    clear: both;
    float: left;
    font-size: 0.9em;
    padding-top: 10px;
    width: 100%;
	padding-bottom:20px;
}

#footer p {
    margin: 0;
	color: #AAD400;
	text-align:right;
}



ul.errorlist
{
	border: 2px solid #fdd;
	background: #fee;
	list-style-type: none;
	padding: 0.2em;
	float: left;
	margin: 0 1em 0 0;
}

p.error
{
	color: red;
}
