{% extends "fullpage.html" %}
{% load url from future %}

{% block title %}
OpenConsent Login
{% endblock %}


{% block head %}
{{ form.media }}
{% endblock %}

{% block heading %}
Login
{% endblock %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form id="login-form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
	<p>{{ form.username.label_tag }}{{ form.username }}</p>
	<p>{{ form.password.label_tag }}{{ form.password }}</p>
	<input class="button" type="submit" value="login" />
	<input class="button" type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
