{% extends 'base.html' %}
{% load i18n %}

{% block topbar %}
<div id="navigation-wrapper">
    <div id="navigation">
        <ul>
            <li></li>
        </ul>
    </div>
    <div class="search">
        <form id="search_form" action="/search" method="get">
            <p>
                <input id="search" type="text" maxlength="128" value="{{query}}" name="q"/>
                <input id="search_button" type="submit" value="Search"/>
            </p>
        </form>
    </div>
</div>

{% endblock %}

{% block main_content %}
{% if page.object_list %}
    <table class="summary-list">
        <tbody>
        {% for result in page.object_list %}
            <tr>
                <td class="id">
                    <a href="{{ result.object.get_absolute_url }}"><span class="iconified">{{ result.object.id }}</span></a>
                </td>
                <td class="excerpt">{{ result.object.excerpt }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if page.has_previous or page.has_next %}
        <div>
            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
            |
            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
    {% endif %}
{% else %}
    {% trans "No results" %}
{% endif %}

{% endblock main_content %}
