{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load org_tags %}
{% load org_filters %}

{% block title %}
{% trans "Your Organizations" %}
{% endblock %}

{% block heading %}
{% trans "Your Organizations" %}
{% endblock %}

{% block main_content %}
<div id="your-organizations">
{% for organization in organizations %}
{% if forloop.first %}<ul class="org_list">{% endif %}
    <li>
        <h3><a href="{% url 'publicweb_item_list' organization.slug 'discussion'%}">{{ organization.name }}</a></h3>
        <ul>
            {% if organization|is_admin:user %}
            <li>
                <a href="{% url 'organization_edit' organization.pk %}">rename</a>
            </li>
            <li class="org-admin">
                <a href="{% url 'organization_user_list' organization.pk %}">members</a>
            </li>
            {% endif %}
            {% if organization|is_owner:user %}
            <li>
                <a href="{% url 'organization_delete' organization.pk %}">delete</a>
            </li>
            {% endif %}
        </ul>
    </li>
{% if forloop.last %}</ul>{% endif %}
{% empty %}
<p>{% trans "You do not currently belong to any organizations."%}</p>
<p>{% trans "You can only view and create discussions, proposals and decisions when you belong to an organization so try one of the following ..."%}</p>
<ul class="bulleted">
    <li>{% trans "create a new organization - use the link below - you can then invite other users to join you and start the econsensus process" %}</li>
    <li>{% trans "or, contact an administrator of an existing organization and request to be added as a member - you'll need to supply the email address you registered this user with" %}</li>
</ul>
{% endfor %}
<div>
<a title="{% trans 'Create New Organization' %}" href="{% url 'organization_add' %}">{% trans "Create New Organization" %}</a>
</div>
</div>

{% endblock %}
