{% extends "base_org_admin.html" %}
{% load i18n %}
{% load url from future %}


{% block title %}
Send reminder
{% endblock %}

{% block heading %}
Send reminder to {{ organization_user.user.email }}

{% endblock %}

{% block main_content %}
<br />
<br />
<form action="." method="post">{% csrf_token %}
    {{ form }}
    <input class="loose button" type="submit" value="Send reminder">
</form>
<form method="GET" action="{% url 'organization_user_list' organization.pk%}">
    <input class="loose button" type="submit" value="Cancel">
</form>
<br />

{% endblock %}
