{% extends "base_org_admin.html" %}
{% load url from future %}
{% load i18n %}
{% load org_tags %}

{% block title %}
{{ organization }}'s members
{% endblock %}


{% block heading %}
{{ organization }}'s live users
{% endblock %}

{% block main_content %}
<br />
<br />
<ul>
{% for organization_user in organization_users %}
{% if forloop.first %}<table class="user_list"><tbody>{% endif %}
{% if organization_user.user.is_active %}

<tr>
    <td><h3>{{ organization_user.user }}</h3></td>
    <td>{{ organization_user.user.first_name }}</td> 
    <td>{{ organization_user.user.last_name }}</td> 
    <td>{{ organization_user.user.email }}</td> 
    <td><a href="{% url 'organization_user_edit' organization.id organization_user.user.id %}">edit</a> | <a href="{% url 'organization_user_delete' organization.id organization_user.user.id %}">delete</a></td>
</tr>

{% endif %}
{% if forloop.last %}</tr></tbody></table>{% endif %}

{% endfor %}


<br />
    <li><a href="{% url 'organization_user_add' organization.pk %}">Add a new member</a></li>

</ul>

{% for organization_user in inactive_users %}
{% if forloop.first %}
<br />
<h2 class="page_title">
Pending users  
</h2>

<br />
<br />
<ul>
<table class="org_list"><tbody>
{% endif %}
<tr>
    <td style="text-align: left"> {{ organization_user.user.email }}</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'organization_user_delete' organization.id organization_user.user.id %}">delete</a> | <a href="{% url 'organization_user_remind' organization.id organization_user.user.id %}">send reminder</a></td>
</tr>


{% if forloop.last %}</tr></tbody></table>{% endif %}

{% endfor %}
</ul>


<ul>
<br />
<br />
    <li><a href="{% url 'organization_list' %}">Back to your organizations</a> </li>
</ul>

{% endblock %}
