{% extends "base.html" %}
{% load i18n %}
{% load org_tags %}

{% block title %}
{% if organization %}{{ organization }}{% else %}Create Organization{% endif %}
{% endblock %}

{% block heading %}
{% endblock %}

{% block main_content %}
<h2 class="page_title simple-form-header">{% if organization %}{{ organization }}{% else %}Create Organization{% endif %}</h2>
<form id="short-form" action="." method="post">{% csrf_token %}
    {{ form.as_p }}
    <input class="button" type="submit" value="submit">
</form>
{% endblock %}
