{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load org_tags %}
{% load org_filters %}
{% block title %}
{{ organization }}
{% endblock %}

{% block header %}{{ organization }}{% endblock %}

{% block heading %}
{{ organization }}
{% endblock %}

{% block main_content %}
<ul>
	{% if organization and organization|is_admin:user %}
    <li><a href="{% url 'organization_edit' organization.pk %}">Edit</a></li>
  {% endif %}
  {% if organization and organization|is_owner:user %}
   	<li><a href="{% url 'organization_delete' organization.pk %}">Delete</a></li>
  {% endif %}
    <li><a href="{% url 'organization_user_add' organization.pk %}">Add a member</a></li>
</ul>
{% organization_users organization %}
{% endblock %}

