{% extends "base_org_admin.html" %}
{% load url from future %}
{% load i18n %}
{% load org_tags %}

{% block title %}
{{ organization }}'s members
{% endblock %}


{% block heading %}
{{ organization }}'s live users
{% endblock %}

{% block main_content %}
<br />
<br />
<ul>
{% for organization_user in organization_users %}
{% if organization_user.user.is_active %}
<li>{{ organization_user.user }} {{ organization_user.user.email }} <a href="{% url 'organization_user_edit' organization.id organization_user.user.id %}">edit</a> | <a href="{% url 'organization_user_delete' organization.id organization_user.user.id %}">delete</a></li>

{% endif %}
{% endfor %}
</ul>

{% for organization_user in inactive_users %}
{% if forloop.first %}
<br />
<h2 class="page_title">
Pending users  
</h2>

<br />
<br />
<ul>
{% endif %}
<li>{{ organization_user.user.email }} <a href="{% url 'organization_user_delete' organization.id organization_user.user.id %}">delete</a> | <a href="{% url 'organization_user_remind' organization.id organization_user.user.id %}">send reminder</a></li>


{% endfor %}
</ul>


<ul>
<br />
    <li><a href="{% url 'organization_user_add' organization.pk %}">Add a new member</a></li>
<br />
    <li><a href="{% url 'organization_list' %}">Back to your organizations</a> </li>
</ul>

{% endblock %}
