{% extends "base_org_admin.html" %}
{% load url from future %}

{% load i18n %}
{% load org_tags %}


{% block title %}
User form
{% endblock %}

{% block heading %}
{% if organization_user.user %}
Details for {{ organization_user.user }}
{% else %}
Add new member 
{% endif %}
{% endblock %}

{% block main_content %}
{% if user == organization_user.user %}This is you!{% endif %}

<br />
<br />
{% if not organization_user.user %}
<p>
Users who do not have an econsensus account will be emailed an invite <br /> to sign up before they join your organisation. 
<br />
<br />
If they already have an account they will be able to use your <br />organization immediately.
</p>
{% else %}
<p>
Change user permissions below 
</p>
{% endif %}
<br />

<form action="." method="post">{% csrf_token %}
    {{ form.non_field_errors }}
	{% if form.email %}
    <div class="fieldWrapper">
    	{{ form.email.errors }}
    	<label for="id_email">Enter email: </label>
    	{{ form.email }}
    </div>
    {% endif %}
    <div class="fieldWrapper">
    	{{ form.is_admin.errors }}
    	<label for="id_email">Is Admin:</label>
    	{{ form.is_admin }}
    </div>
    <div class="fieldWrapper">
    	{{ form.is_editor.errors }}
    	<label for="id_email">Is Editor:</label>
    	{{ form.is_editor }}
    </div>        
<br />
    <input class="loose button" type="submit" value="OK">
</form>
<form method="GET" action="{% url 'organization_user_list' organization.pk %}">
    <input class="loose button" type="submit" value="Cancel">
</form>
<br />

{% endblock %}
