{% extends "base_org_admin.html" %}
{% load url from future %}
{% load i18n %}
{% load org_tags %}

{% block title %}
Confirm remove
{% endblock %}

{% block heading %}
{% if organization_user.user.is_active %}
Confirm removal of {{ organization_user.user }} from {{ organization }}.
{% else %}
Confirm removal of {{ organization_user.user.email }} from {{ organization }}.
{% endif %}
{% endblock %}

{% block main_content %}
<br />
<br />
Removing a user will only remove the user from your organization, {{ organization }}.
<br />
<br />
The user will not be removed from econsensus
<br />
<br />
<form action="." method="post">{% csrf_token %}
    {{ form }}
    <input class="loose button" type="submit" value="Remove">
</form>

<form method="GET" action="{% url 'organization_user_list' organization.pk%}">
    <input class="loose button" type="submit" value="Cancel">
</form>
<br />
{% endblock %}
