{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load org_tags %}
{% load org_filters %}

{% block title %}
Organization List
{% endblock %}

{% block heading %}
Your Organizations
{% endblock %}

{% block main_content %}
<ul>
    {% for organization in organizations %}
    <li><a href="{% url 'publicweb_item_list' organization.slug 'proposal'%}">{{ organization }}</a>
    {% if organization.owner == user %}<span class="org-owner">Owner</span>{% endif %}
    {% if organization|is_admin:user %}<span class="org-admin"><a href="{{ organization.get_absolute_url }}">Admin</a></span>{% endif %}
    </li>
    {% empty %}
    <p>{% trans "You do not belong to any organizations."%}</p>
    {% endfor %}
</ul>
    <p>Create a new organization <a href="{% url 'organization_add' %}">{% trans "here" %}.</a></p>

{% endblock %}
