{% load i18n %}
{% load url from future %}

{% block main_content %}
    <form class="actionitem-form" action="{% url 'actionitem_update' decisionpk=object.origin_id pk=object.id %}" method="POST">{% csrf_token %}
        <div class="formset_item actionitem">
            <div class="form_item{{form.description.html_name}}">
                <span{% if form.description.errors %} class="error"{% endif %}>{{ form.description.errors }}{{ form.description }}</span>
            </div>
            <div class="form_item {{form.responsible.html_name}}">
                {{ form.responsible.label_tag }} <span{% if form.responsible.errors %} class="error"{% endif %}>{{ form.responsible.errors }}{{ form.responsible }}</span>
            </div>
            <div class="form_item {{form.deadline.html_name}}">
                {{ form.deadline.label_tag }} <span{% if form.deadline.errors %} class="error"{% endif %}>{{ form.deadline.errors }}{{ form.deadline }}</span>
            </div>
            <div class="form_item {{form.done.html_name}}">
                {{ form.done.label_tag }} <span{% if form.done.errors %} class="error"{% endif %}>{{ form.done.errors }}{{ form.done }}</span>
            </div>
            <div class="controls">
					<input class="button go actionitem_save" type="submit" name="submit" value="Save"/>
					<a class="button go actionitem_cancel" href="{% url 'publicweb_item_detail' pk=object.origin_id %}">{% trans "Cancel" %}</a>
            </div>
        </div>
    </form>
    <script>
        jQuery(function ($) {
            $('.actionitems-date-widget').datepicker()
        });
    </script>
{% endblock %}
