{% load url from future %}
{% load i18n %}
{% load guardian_tags %}
{% load waffle_tags %}

{% switch "actionitems" %}
{% get_obj_perms request.user for object.origin.organization as "organization_permissions" %}

<li id="act_id_{{ actionitem.id }}">
       <div class="actionitem_feedback_wrapper {{ data|default:"ActionItem" }}">

	 <div class="actionitem_type {{ data|default:"ActionItem" }}">
	   {{ data|default:"Action Item" }}
	 </div>

	 <div class="description">
	   
	   <span class="actionitem_number">Action Item {{actionitem.id}}:</span>

	   
	   <div class="actionitem_metadata">
	     <ul>
	       <li>{% trans " Responsible: " %}<span class="actionitem_responsible">{{ actionitem.responsible }}</span></li>
	       <li>
		 {% if actionitem.deadline %}{% trans "By " %}<span class="actionitem_responsible">{{ actionitem.deadline }}</span>
		 {% else %}{% trans "No deadline" %}
		 {% endif %}
	       </li>
	     </ul>
	   </div>
	   
	   <p> {% if actionitem.done %}<del>{% endif %} 
	       {{ actionitem.description|urlize|linebreaksbr }} 
	       {% if actionitem.done %}</del>{% endif %} <br />
	   </p>

	   {% if "edit_decisions_feedback" in organization_permissions %}
	   <a class="edit button actionitem" href='{% url 'actionitem_update' decisionpk=actionitem.origin_id pk=actionitem.id %}'>{% trans "Edit" %}</a>
	   {% endif %}
	   
	 </div>
       </div>
</li>
{% endswitch %}
