{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load org_filters %}

{% block head_content %}
    {{ form.media }}
{% endblock %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block heading %}
    {% trans "Create Action Item" %}
{% endblock %}

{% block body_class%}object-list {{ tab }}-list{% endblock %}

{% block main_content %}

    {% comment %} This block should be redundant, but just in case {% endcomment %}
	{% if not organization|is_member:user %}
		<p>{% trans "You are not a member of this organization." %}</p>
		</br>
		<p>{% trans "Go here to see " %}<a href="{% url 'organization_list' %}">{% trans "your organizations" %}</a>.</p>
	{% else %}

    <form class="actionitem-form" method="POST">{% csrf_token %}
        {% for field in form %}
            <div class="formfield {{field.html_name}} {% if field.name in hidefields %} hidden{% endif %}">
                {{ field.label_tag }} <span{% if field.errors %} class="error"{% endif %}>{{ field.errors }}{{ field }}</span>
            </div> 
        {% endfor %}
        <input class="actionitem-form-button" type="submit" value="{% trans 'Save' %}" />
        <a class="actionitem-form-button" href="{{ returnurl }}">{% trans 'Cancel' %}</a>
    </form>
    
    {% endif %}
    
{% endblock main_content %}
