{% load i18n %}

<form action="#" method="post" id="decision_update_form" class="{{ tab }}">{% csrf_token %}
		{% for error in form.non_field_errors %}
		    <p class="error" >{{ error }}</p>
		{% endfor %}
		<div id="decision" {% if tab %}class="{{ tab }}"{% endif %}>
			<div class="decision_summary">
			    <div class="form_item {% if form.description.errors %}error{% endif %}">
					<label for="id_description">{% trans "Description" %}:</label>
			        {{ form.description.errors }}
			        {{ form.description }}
			    </div>
			    {% if tab == 'decision' %}
			 	<div class="form_item">
			        {{ form.people.errors }}
			        <label for="id_people">{% trans "Persons Responsible:" %}</label>
			        {{ form.people }}
			    </div>
			 	<div class="form_item">
			        {{ form.meeting_people.errors }}
			        <label for="id_meeting_people">{% trans "What meeting/ who made this decision?" %}</label>
			        {{ form.meeting_people }}
			    </div>
			    {% endif %}
			    {% if tab == 'archived' or tab == 'proposal' %}
			 	<div class="form_item">
			        {{ form.budget.errors }}
			        <label for="id_budget">{% trans "Resources/Budget" %}:</label>
			        {{ form.budget }}
			    </div>			    
			    {% endif %}
			 </div>
			 <div class="decision_meta">
				{% if form.instance.author != null %}
				<div class="decision_author">{% trans "Created by" %}: {{form.instance.author}}</div>
				{% endif %}
			 	<div class="form_item status">
			        {{ form.status.errors }}
				    <label for="id_status">{% trans "Status" %}:</label>
				    {{ form.status }}
				</div>
			    {% if tab == 'decision' %}
				<div class="form_item">
			        {{ form.decided_date.errors }}
			        <label for="id_decided_date">{% trans "Decided" %}:</label>
			        {{ form.decided_date }}
			    </div>
				<div class="form_item">
			        {{ form.effective_date.errors }}
			        <label for="id_effective_date">{% trans "Effective" %}:</label>
			        {{ form.effective_date }}
			    </div>
				<div class="form_item">
			        {{ form.review_date.errors }}
			        <label for="id_review_date">{% trans "Review" %}:</label>
			        {{ form.review_date }}
			    </div>
				<div class="form_item">
			        {{ form.expiry_date.errors }}
			        <label for="id_expiry_date">{% trans "Expiry" %}:</label>
			        {{ form.expiry_date }}
			    </div>
				{% endif %}
				{% if tab == 'archived' %}   	
				<div class="form_item">
			        {{ form.archived_date.errors }}
			        <label for="id_archived_date">{% trans "Archived" %}:</label>
			        {{ form.archived_date }}
			    </div>
				{% endif %}
			    {% if tab == 'proposal' %}
				<div class="form_item">
			        {{ form.deadline.errors }}
			        <label for="deadline">{% trans "Deadline" %}:</label>
			        {{ form.deadline }}
			    </div>
			    {% endif %}
				<div id="tags">
				    {{ form.tags.errors }}
				    <label for="id_tags">{% trans "Tags" %}:</label>
				    {{ form.tags }} {{ form.tags.help_text }}
				</div>
			</div>
		</div>
		<div class="update-controls">
            <div class="update-options">
	            <div class="watch">
	                {{ form.watch.errors }}
	                {{ form.watch }}
	                <label for="id_watch">{% trans "Watch this" %}</label>
	            </div>
	            {% if form.instance.id %}
	            <div class="minor_edit" title="{% trans "Minor edits will not cause notification emails to be sent" %}">
	                {{ form.minor_edit }}
	                <label for="id_minor_edit">{% trans "This is a minor edit" %}</label>
	            </div>
                {% endif %}
            </div>
            <div class="update-buttons"> 
		        <div><input class="go button" name="submit" type="submit" value="{% trans "Cancel" %}" /></div>
		        <div><input class="go button" name="submit" type="submit" value="{% trans "Save" %}" /></div>
		    </div>		    
		</div>
</form>
