{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load org_filters %}
{% load publicweb_filters %}
{% load waffle_tags %}

{% block title %}
    {{ block.super }}
    {% if tab == 'proposal' %}
        {% trans "Proposals" %}
    {% elif tab == 'archived' %}
        {% trans "Archive" %}
    {% elif tab == 'actionitems' %}
        {% trans "Action Items" %}
    {% elif tab == 'decision' %}
        {% trans "Decisions Made" %}
    {% else %}
        {% trans "Discussions" %}
    {% endif %}
{% endblock %}

{% block heading %}
    {% if tab == 'proposal' %}
        {% trans "Proposals" %}
    {% elif tab == 'archived' %}
        {% trans "Archive" %}
    {% elif tab == 'actionitems' %}
        {% trans "Action Items" %}
    {% elif tab == 'decision' %}
        {% trans "Decisions Made" %}
    {% else %}
        {% trans "Discussions" %}
    {% endif %}
{% endblock %}

{% block body_class%}object-list {{ tab }}-list{% endblock %}

{% block main_content %}
		{% if not organization|is_member:user %}
			<p class="wrongorg">{% trans "You are not a member of this organization." %}</p>
			</br>
			<p>{% trans "Go here to see " %}<a href="{% url 'organization_list' %}">{% trans "your organizations" %}</a>.</p>
		{% else %}
		    {% if object_list %}
		    {% include "pagination.html" %}
	            <table class="summary-list">
                    <thead>
                        <tr class="summary-header">
                            {% for header in header_list %}
                            <th class="{{ header.attrs }}">
                                {% if not header.unsortable %}<a href="{{ header.path }}">{% endif %}
                                    <span class="{{ header.sortclass }}">
                                        {{ header.title }}
                                        {% if header.sortclass == 'sort-asc' %} ▲{% endif %} 
                                        {% if header.sortclass == 'sort-desc' %} ▼{% endif %}
                                    </span>
                                {% if not header.unsortable %}</a>{% endif %}
                            </th>
                            {% endfor %}
            			</tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                        <tr>
                            {% if tab != 'actionitems' %}
                                <td class="id"><a href="{% url 'publicweb_item_detail' object.id %}"><span class="iconified">{{ object.id }}</span></a></td>
                                <td>
                                    <a href="{% if request.user|is_watching:object %}{% url 'remove_watcher' object.id %}{% else %}{% url 'add_watcher' object.id %}{% endif %}?next={{ request.path_info }}">
                                        <input type="checkbox"{% if request.user|is_watching:object %} checked="True"{% endif %} />
                                    </a>
                                 </td>
				                <td class="excerpt"><a href="{% url 'publicweb_item_detail' object.id %}">{{ object.excerpt }}	</a></td>
				                {% if tab == 'decision' %}
				                    <td><a href="{% url 'publicweb_item_detail' object.id %}">{{ object.decided_date }}</a></td>
				                    <td><a href="{% url 'publicweb_item_detail' object.id %}">{{ object.review_date }}</a></td>
                                {% elif tab == 'archived' %}
				                    <td><a href="{% url 'publicweb_item_detail' object.id %}">{{ object.creation }}</a></td>
				                    <td><a href="{% url 'publicweb_item_detail' object.id %}">{{ object.archived_date }}</a></td>
                                {% else %}
				                    <td><a href="{% url 'publicweb_item_detail' object.id %}">{{ object.feedbackcount }}</a></td>
				                    <td><a href="{% url 'publicweb_item_detail' object.id %}">{{ object.deadline }}</a></td>
				                    <td><a href="{% url 'publicweb_item_detail' object.id %}">{{ object.last_modified|timesince }} ago</a></td>
                                {% endif %}
                            {% endif %}
                            {% if tab == 'actionitems' %}
															{% switch "actionitems" %}
															<td class="id"><a href="{% url "publicweb_item_detail" object.origin.id %}#act_id_{{ object.id }}">{{ object.id }}</a></td>
															<td class="excerpt"><a href="{% url "publicweb_item_detail" object.origin.id %}#act_id_{{ object.id }}">{{ object.description|get_excerpt }}</a></td>
															<td><a href="{% url "publicweb_item_detail" object.origin.id %}#act_id_{{ object.id }}">{{ object.responsible }}</a></td>
															<td><a href="{% url "publicweb_item_detail" object.origin.id %}#act_id_{{ object.id }}">{{ object.deadline }}</a></td>
															<td><input id="id_done" type="checkbox" name="done" {% if object.done %}checked{% endif %} disabled/></td>
															<td class="id"><a href="{{ object.origin.get_absolute_url }}"><span class="iconified">{{ object.origin.id }}</span></a></td>
															{% endswitch %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
	            </table>
	        {% include "pagination.html" %}
		    {% else %}
		    	{% if tab == "proposal" %}
			    <p class="no_items">{% trans "There are no proposals" %}.<p>		    			    	
		    	{% elif tab  == "archived" %}
			    <p class="no_items">{% trans "There are no archived items" %}.<p>		    	
		    	{% elif tab  == "discussion" %}
			    <p class="no_items">{% trans "There are no discussion items" %}.<p>	
			    {% elif tab  == "actionitems" %}
                <p class="no_items">{% trans "There are no action items" %}.<p> 
		    	{% else %}
			    <p class="no_items">{% trans "There are no decisions made" %}.<p>
			    {% endif %}
		    {% endif %}
		{% endif %}			
{% endblock main_content %}

{% block footer_content %}
	<p class="export"><a title="Export as CSV file" href="{% url 'publicweb_export_csv' organization.slug %}">{% trans "Export as CSV file" %}</a></p>
{% endblock %}
