{% load url from future %}
{% load i18n %}
{% load guardian_tags %}

{% if organization %}
{% get_obj_perms request.user for organization as "organization_permissions" %}
{% endif %}
<div id="decision_snippet_envelope">
	<h2 class="page_title {{ object.status }}">{{ object.status|capfirst }}: <span>{{ object.excerpt|truncatewords:7 }} (#{{ object.id }})</span></h2>

	<div id="decision_detail" class="{{ object.status }}">
		<div class="summary">
			<div class="description">
				<p>{{ object.description|urlize|linebreaksbr }}</p>
				{% if object.budget %}
				<dl class="meta_resources">
				    <dt>{% trans "Resources/Budget:" %}</dt>
				    <dd>{{ object.budget }}</dd>
				</dl>
				{% endif %}
				<dl class="meta_people">
					<dt>{% trans "Created by: " %}</dt>
					<dd> {{ object.author }}</dd>
					{% if object.editor %}
					<dt>{% trans "Last edited by: " %}</dt>
					<dd> {{ object.editor }}</dd>
					{% endif %}
					{% if object.status != 'proposal' and object.status != 'discussion'%}
					{% if object.meeting_people %}
					<dt>{% trans "Decision made by/which meeting?: " %}</dt>
					<dd>{{ object.meeting_people }}</dd>
					{% endif %}
					{% endif %}
					{% if object.status = 'decision' %}
					{% if object.people %}
					<dt>{% trans "Persons Responsible: " %}</dt>			
					<dd>{{ object.people }}</dd>
					{% endif %}
					{% endif %}
				</dl>
			</div>
		</div>
			
		<div class="meta">
			
		{% if object.deadline or object.decided_date or object.effective_date or object.review_date or object.expiry_date %}
			<div class="dates">{% endif %}
		{% if object.status = 'proposal' %}
		{% if object.deadline %}
				<div class="date">
					{% trans "Deadline:" %}			
					<strong>{{ object.deadline }}</strong>
				</div>
		{% endif %}
		{% endif %}

		{% if object.status = 'decision' %}	
		{% if object.decided_date %}
				<div class="date">
					{% trans "Decided" %}			
					<strong>{{ object.decided_date }}</strong>
				</div>
		{% endif %}
		{% if object.effective_date %}
				<div class="date">
					{% trans "Effective" %}
					<strong>{{ object.effective_date }}</strong>
				</div>
		{% endif %}
		{% if object.review_date %}
				<div class="date">
					{% trans "Review" %}
					<strong>{{ object.review_date }}</strong>
				</div>
		{% endif %}
		{% if object.expiry_date %}
				<div class="date">
					{% trans "Expiry" %}
					<strong>{{ object.expiry_date }}</strong>
				</div>
		{% endif %}
		{% endif %}
		{% if object.deadline or object.decided_date or object.effective_date or object.review_date or object.expiry_date %}
        </div>{% endif %}
        <dl class="stats">
        	{% with statistics=object.get_feedback_statistics %}
            {% for rating in rating_names %}
                {% if "edit_decisions_feedback" in organization_permissions %}
                <a href="{% url 'publicweb_feedback_create' object.id %}?rating={{rating}}">
                    {% include "feedback_rating_count_snippet.html" %}
                </a>
                {% else %}
                {% include "feedback_rating_count_snippet.html" %}
                {% endif %}
            {% endfor %}
            {% endwith %}
		</dl>
{% if "edit_decisions_feedback" in organization_permissions %}		
			<div class="controls">
				<a class="edit button {{ object.status }}" href="{% url 'publicweb_decision_update' object.id %}">Edit</a>
			</div>
{% endif %}
		</div>
	</div>
</div>
