{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load org_filters %}

{% block title %}
  {{ block.super }}
  {% if tab == 'proposal' %}{% trans "Proposals" %}
	{% elif tab == 'archived' %}{% trans "Archive" %}
	{% elif tab == 'decision' %}{% trans "Decisions Made" %}
	{% else %}{% trans "Discussions" %}
  {% endif %}
{% endblock %}

{% block heading %}
  {% if tab == 'proposal' %}{% trans "Proposals" %}
	{% elif tab == 'archived' %}{% trans "Archive" %}
	{% elif  tab == 'decision' %}{% trans "Decisions Made" %}
	{% else %}{% trans "Discussions" %}
  {% endif %}
{% endblock %}

{% block body_class%}object-list {{ tab }}-list{% endblock %}

{% block main_content %}
		{% if not organization|is_member:user %}
			<p>{% trans "You are not a member of this organization." %}</p>
			</br>
			<p>{% trans "Go here to see " %}<a href="{% url 'organization_list' %}">{% trans "your organizations" %}</a>.</p>
		{% else %}
		    {% if object_list %}
		    {% include "pagination.html" %}
	            <table class="summary-list">
                    <thead>
                        <tr class="summary-header">
                            {% for header in header_list %}
                            <th class="{{ header.attrs }}">
                                <a href="{{ header.path }}">
                                    <span class="{{ header.sortclass }}">
                                        {{ header.title }}
                                        {% if header.sortclass == 'sort-asc' %} ▲{% endif %} 
                                        {% if header.sortclass == 'sort-desc' %} ▼{% endif %}
                                    </span>
                                </a>
                            </th>
                            {% endfor %}
            			</tr>                  
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td class="id"><a href="{% url 'publicweb_item_detail' object.id %}"><span class="iconified">{{ object.id }}</span></a></td>
				            <td class="excerpt"><a href="{% url 'publicweb_item_detail' object.id %}">{{ object.excerpt }}	</a></td>
				            {% if tab == 'decision' %}
				                <td><a href="{% url 'publicweb_item_detail' object.id %}">{{ object.decided_date }}</a></td>
				                <td><a href="{% url 'publicweb_item_detail' object.id %}">{{ object.review_date }}</a></td>
                            {% elif tab == 'archived' %}
				                <td><a href="{% url 'publicweb_item_detail' object.id %}">{{ object.creation }}</a></td>
				                <td><a href="{% url 'publicweb_item_detail' object.id %}">{{ object.archived_date }}</a></td>
                            {% else %}
				                <td><a href="{% url 'publicweb_item_detail' object.id %}">{{ object.feedbackcount }}</a></td>
				                <td><a href="{% url 'publicweb_item_detail' object.id %}">{{ object.deadline }}</a></td>
				                <td><a href="{% url 'publicweb_item_detail' object.id %}">{{ object.last_modified|timesince }} ago</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
	            </table>
	        {% include "pagination.html" %}
		    {% else %}
		    	{% if tab == "proposal" %}
			    <p class="no_items">{% trans "There are no proposals" %}.<p>		    			    	
		    	{% elif tab  == "archived" %}
			    <p class="no_items">{% trans "There are no archived items" %}.<p>		    	
		    	{% else %}
			    <p class="no_items">{% trans "There are no decisions made" %}.<p>
			    {% endif %}
		    {% endif %}
		{% endif %}			
{% endblock main_content %}

{% block footer_content %}
	<p class="export"><a title="Export as CSV file" href="{% url 'publicweb_export_csv' organization.slug %}">{% trans "Export as CSV file" %}</a></p>
{% endblock %}
