{% load i18n %}
{% load publicweb_filters %}
<form class = 'feedback_form' action="" method="post">{% csrf_token %}
	<div class="decision_feedback">
        <div class="formset_item feedback feedback{{ form.instance.rating }} rating_{{form.initial.rating|get_rating_name}}">
			<div class="form_row feedback_summary">
				<div class="form_item rating">
					{{ form.rating.errors }}
					<label for="id_rating">{% trans "Rating" %}</label>
					{{ form.rating }}
		    	</div>
		    	<div class="form_item description">
					{{ form.description.errors }}
					{{ form.description }}
		    	</div>
		    	<div class="controls">
			    {% if form.instance.id %}
                                <div class="minor_edit" title="{% trans "Minor edits will not cause notification emails to be sent" %}">
                                    <label for="id_minor_edit">{% trans "Minor Edit" %}?</label>
                                    {{ form.minor_edit }}
                                </div>
			    {% endif %}
			    <div><input class="button go feedback_cancel" type="submit" name="submit" value="Cancel" /></div>
			    <div><input class="button go once" type="submit" name="submit" value="Save" /></div>
			</div>	    	
		    </div>
		</div>
	</div>
</form>
