{% load i18n %}
{% load publicweb_filters %}
<form class = 'feedback_form' action="" method="post">{% csrf_token %}
	<div class="decision_feedback">
        <div class="formset_item feedback feedback{{ form.instance.rating }} rating_{{form.initial.rating|get_rating_name}}">
			<div class="form_row feedback_summary">
				<div class="form_item rating">
					{{ form.rating.errors }}
					<label for="id_rating">{% trans "Rating" %}</label>
					{{ form.rating }}
		    	</div>
		    	<div class="form_item description">
					{{ form.description.errors }}
					{{ form.description }}
		    	</div>
		    	<div class="update-controls">
		    	    <div class="update-options">
		                {% if form.instance.id %}
		                <div class="minor_edit" title="{% trans "Minor edits will not cause notification emails to be sent" %}">
		                    {{ form.minor_edit }}
		                    <label for="id_minor_edit">{% trans "This is a minor edit" %}</label>
		                </div>
                        {% endif %}
                    </div>
                <div class="update-buttons">
				    <div><input class="button go" type="submit" name="submit" value="Cancel" /></div>
				    <div><input class="button go once" type="submit" name="submit" value="Save" /></div>
				</div>
			</div>	    	
		    </div>
		</div>
	</div>
</form>
