{% load url from future %}
{% load i18n %}	
{% load comments %}
{% load guardian_tags %}
{% load publicweb_filters %}

{% comment %}Define organization_permissions here to cover case where this template is used to re-render a feedback detail following an inline javascript update of that feedback.{% endcomment %}
{% get_obj_perms request.user for object.decision.organization as "organization_permissions" %}
{% get_comment_list for object as comment_list %}

<li id="id{{ object.id }}">
  <div class="feedback_wrapper {{ object.get_rating_display }}"> 
    <div class="feedback_type {{ object.get_rating_display }}">
      {{ object.get_rating_display|capfirst }}
    </div>
    <div class="description"> 
	  <span class="author">{{ object.get_author_name }} says:</span>
	  <p>{{ object.description|urlize|linebreaksbr }}</p>
	  {% if "edit_decisions_feedback" in organization_permissions %}
	  <a class="button edit" href='{% url 'publicweb_feedback_update' object.id %}'>{% trans "Edit" %}</a>
	  <a class="button show" href='{% url 'publicweb_feedback_comment' object.id %}'>{% trans "Reply" %}</a>
{% endif %}
    </div>
		
	<div class="contrib_comment_container">
	  <ul class="contrib_comment_list">
	  {% for comment in comment_list %}
		<li class = "contrib_comment" id="c{{ comment.object_pk }}_{{ comment.pk }}">
        <span class="author">{{ comment|get_user_name_from_comment }} says:</span>
		  <p>{{ comment.comment|urlize|linebreaksbr }}</p>
		</li>
		  {% endfor %}
	  </ul>

        <div class="showable">
	    {% include "feedback_comment_snippet.html" %}
        </div>
    </div>
  </div>
</li>
