{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load org_filters %}
{% load waffle_tags %}

{% block title %}
{% if organization|is_member:user %}
	{{ object.excerpt}}
{% endif %}
{% endblock %}

{% block body_class%}base {{ tab }}-detail{% endblock %}

{% block head_content %}
{{ object.media }}
	<link href="{{ STATIC_URL }}jquery/jquery-ui.css" type="text/css" media="all" rel="stylesheet" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/showhide.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/clickonce.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/parsley.min.js"></script>
	<script type="text/javascript">
	<!--
	$(function () {
		/*
		 * Common functions
		 */
		function displayErrorMessage(jqXHR, textStatus, errorThrown) {
			var msg = "";
			switch (textStatus) {
				case 'abort':
					msg = "Request has been aborted.";
					break;
				case 'timeout':
					msg = "Request took too long.";
					break;
				case 'parseerror':
					msg = "Returned data is malformed.";
					break;
				default:
					if (errorThrown) {
						msg = "Server responded with following error: " + errorThrown;
					}
					break;
			}
			alert(msg);
		}

		function updateCounters() {
			var counters = {};
			$(".stats dt").each(function () {
				var type = this.className;
				counters[type] = 0;
			});
			$(".feedback_type").each(function () {
				var type = $.trim(this.className.replace("feedback_type", ""));
				counters[type] = counters[type]+1;
			});
			for(var feedback_type in counters) {
				var dt = $(".stats ."+feedback_type);
				var dd = dt.next();
				dd.html(counters[feedback_type]);
			}
		}

        function updateFeedbackFormRatingClassName(form_element, new_rating) {
            var class_names = form_element.attr('class').split(' ');
            for(var i=0; i<class_names.length; i++) {
                if (class_names[i].match(/^rating_/)) {
                    form_element.removeClass(class_names[i]);
                }
            }
            form_element.addClass('rating_'+new_rating);
        }

		function replaceWithRemote(url, selector, callback, params) {
			$.ajax(url,
					{
						cache: false,
						success: function (data) {
							$(selector).replaceWith(data);
							if (callback) {
								if(params) {
								    callback.apply($(selector), params);
								} else {
									callback();
								}
							}
						},
						error: displayErrorMessage
					});
		}
	
		function updateAndReplace(update_url, replace_url, node, callback) {
			var parameters = $(node).serialize();
	
			$.post(update_url,
				parameters,
				function (data) {
					// Post successful, now fetch stored value and add it as a snippet
					replaceWithRemote(replace_url, node, callback);
				}
			);
        }
		
		function scrollToElement(id, adjustment, time) {
			if(!time) {
				time = 0;
			}
			if(!adjustment) {
				adjustment = 0;
			}
            $('html, body').animate({
                    scrollTop: $(id).offset().top - adjustment
                    }, time);
        }

        function scrollToFeedbackAnchor() {
            scrollToElement("#feedback_add_anchor", 28, 1400);
        }
	
		/*
		 * Proposal in-line editing
		 */
		// Override redirect to form and put it inline
		$("#content").on("click", "#decision_snippet_envelope a.edit", function (e) {
			replaceWithRemote("{% url 'publicweb_decision_snippet_update' object.id %}", "#decision_snippet_envelope");
			$('#decision_update_form').parsley();
			e.preventDefault();
		});

		var decision_update_form_parent = "#content";
		// Override redirect to view and put it inline
		$(decision_update_form_parent).on("click", '#decision_update_form .decision_save', function (e) {
			if($('#decision_update_form').parsley('validate')) {
			 updateAndReplace("{% url 'publicweb_decision_update' object.id %}",
					"{% url 'publicweb_decision_snippet_detail' object.id %}",
					"#decision_update_form");
			}
			e.preventDefault();
		});

        $(decision_update_form_parent).on("click", '#decision_update_form .decision_cancel', function (e) {
            e.stopPropagation();
            replaceWithRemote("{% url 'publicweb_decision_snippet_detail' object.id %}", 
                                "#decision_update_form");
            e.preventDefault();
        });

        //Action items inline editing
        var actionitem_add_url = "{% url 'actionitem_create' object.id %}",
            actionitem_edit_url = "{% url 'actionitem_update' decisionpk=object.id pk=0 %}",
            actionitem_detail_url = "{% url 'actionitem_detail' decisionpk=object.id pk=0 %}",
            actionitem_form_parent = "#actionitem_add_anchor",
            actionitem_button = $(".button.add_actionitem").clone().wrap('<div>').parent().html();
        // Add
		$(actionitem_form_parent).on("click", ".button.add_actionitem", function (e) {
            replaceWithRemote(actionitem_add_url, ".button.add_actionitem");
            $('.actionitem-form').parsley();
			e.preventDefault();
		});
        //Edit
		$(".list.decision_actionitem").on("click", ".edit.actionitem", function (e) {
			var actionitempk = $(this).parents("li").attr("id").slice(7);
			var snippet_update_url = actionitem_edit_url.replace(/\/0/, '/'+actionitempk);

            replaceWithRemote(snippet_update_url, "#act_id_"+actionitempk+" .actionitem_feedback_wrapper", scrollToElement, ["#act_id_"+actionitempk]);
            $('.actionitem-form').parsley();
            $('#act_id_'+actionitempk+' .actionitems-date-widget').datepicker()
			e.preventDefault();
		});
		
		$(actionitem_form_parent).on("submit", "form", function (e) {
            var form = $(actionitem_form_parent + " form"),
                parameters = form.serialize();
            if(form.parsley('validate')) {
	            $.post(actionitem_add_url,
	                parameters,
	                function (data) {
	                    var $action_item = $(".list.decision_actionitem .actionitem_list");
	    
	                    $('.no_actionitem').remove();
	                    if (data) {
	                        $action_item.html($action_item.html()+data);
	                    }
	                    form.replaceWith(actionitem_button);
	                }
	            );
            }
            e.preventDefault();
        }); 

		$(".list.decision_actionitem").on("submit", "form", function (e) {
            var form = $(this),
                parameters = form.serialize();
            // This is necessary because otherwise javascript doesn't recognise
            // .split as a function. Don't know why this is.
            var actionitempk = $(this).parents("li").attr("id").slice(7);
            snippet_update_url = actionitem_edit_url.replace(/\/0/, '/'+actionitempk),
            snippet_detail_url = actionitem_detail_url.replace(/\/0/, '/'+actionitempk);
            if(form.parsley('validate')) {
                $.post(snippet_update_url,
                    parameters,
                    function (data) {
                        // Post successful, now fetch stored value and add it as a snippet
                        replaceWithRemote(snippet_detail_url, form.parent());
                    }
                );
            }
            e.preventDefault();
        });   

		// Handle cancel manually, because it doesn't get submitted with
        // javascript submission
        $(actionitem_form_parent).on("click", ".actionitem_cancel", function (e) {
            e.stopPropagation();
            e.preventDefault();
            $("#actionitem_add_anchor form").replaceWith(actionitem_button);
        });

        $(".list.decision_actionitem").on("click", ".actionitem_cancel", function (e) {
            e.stopPropagation();
            e.preventDefault();
            var actionitem_form = $(this).parents('.actionitem-form');
            var actionitempk = $(this).parents("li").attr("id").slice(7);
            var snippet_detail_url = actionitem_detail_url.replace(/\/0/, '/'+actionitempk);
            
            replaceWithRemote(snippet_detail_url, actionitem_form.parent());
            e.preventDefault();
        });
        	
		/*
		 * Feedback in-line editing
		 */
		// Fake id, DB will always start at least with 1; Error-prone (fails if URL contains 0 elsewhere)
		var snippet_update_url_template = "{% url 'publicweb_feedback_snippet_update' 0 %}",
			snippet_detail_url_template = "{% url 'publicweb_feedback_snippet_detail' 0 %}",
			feedback_update_url_template = "{% url 'publicweb_feedback_update' 0 %}",
			feedback_add_url = "{% url 'publicweb_feedback_snippet_create' object.id %}",
			// .prop("outerHTML") will work in future (.outerHTML added to FF11)
			feedback_button = $(".button.add_feedback").clone().wrap('<div>').parent().html(),
			feedback_form_parent = $("#feedback_add_anchor");
	
		// Handle cancel manually, because it doesn't get submitted with
		// javascript submission
		$(feedback_form_parent).on("click", ".feedback_cancel", function (e) {
			e.stopPropagation();e.preventDefault();
			$("#feedback_add_anchor form").replaceWith(feedback_button);
		});
	
		$(feedback_form_parent).on("click", ".button.add_feedback", function (e) {
            replaceWithRemote(feedback_add_url, ".button.add_feedback");
            scrollToFeedbackAnchor();
            
			e.preventDefault();
		});
	
        $("#decision_detail .stats a dt").click(function (e) {
            var feedback_create_section = $('#feedback_add_anchor');

            if (feedback_create_section.find('.button.add_feedback').length) {
                replaceWithRemote(feedback_add_url + "?rating=" + this.className, ".button.add_feedback");
            }
            else {
                var feedback_create_form = feedback_create_section.find('.formset_item');
                var feedback_create_form_rating = feedback_create_form.find(' #id_rating');
                feedback_create_form_rating.find('option[selected="selected"]').removeAttr('selected');
                feedback_create_form_rating.find('option:contains("'+this.className+'")').attr('selected', 'selected');
                feedback_create_form_rating.html(feedback_create_form_rating.html());
                updateFeedbackFormRatingClassName(
                    feedback_create_form, 
                    this.className);
            }

            scrollToFeedbackAnchor();
			e.preventDefault();
		});

        $(feedback_form_parent).on("change", "#id_rating", function (e) {
            var new_rating_value = $(this).val();
            var new_rating_name = e.currentTarget.form.rating.options[new_rating_value].text
            updateFeedbackFormRatingClassName(
                $(this).parents('.formset_item.feedback'), 
                new_rating_name);
        });
	
		// Handle cancel manually, because it doesn't get submitted with
		// javascript submission
		$(feedback_form_parent).on("click", '.feedback_cancel', function (e) {
			e.stopPropagation();e.preventDefault();
			$("#feedback_add_anchor form").replaceWith(feedback_button);
		});
	
		$(feedback_form_parent).on("submit", "form", function (e) {
			var form = $(this),
				parameters = form.serialize();
	
			$.post("{% url 'publicweb_feedback_snippet_create' object.id %}",
				parameters,
				function (data) {
					var $feedback = $(".feedback_list");
	
                    $('.no_feedback').remove();
					if (data) {
						$feedback.html($feedback.html()+data);
					}
					form.replaceWith(feedback_button);
					updateCounters();
				}
			);
			e.preventDefault();
		});
	
		// Override redirect to form and put it inline
		$(".list.decision_feedback").on("click", ".feedback_list .description .edit", function (e) {
			var wrapper = $(this).parents(".feedback_wrapper"),
				object_id = wrapper.parent().attr("id").slice(2),
				snippet_update_url = snippet_update_url_template.replace('0', object_id);
	
			// $('.feedback_list .feedback_cancel').click(); // Close open feedback first
			replaceWithRemote(snippet_update_url, wrapper, scrollToElement, ["#id" + object_id]);
			e.preventDefault();
		});
	
		// Override redirect to view and put it inline
        $(".feedback_list").on("click", '.feedback_form .feedback_cancel', function (e) {
            e.stopPropagation();
            e.preventDefault();
			var feedback_form = $(this).parents('.feedback_form');
			var object_id = feedback_form.parent('li').attr("id").slice(2);
            var snippet_detail_url = snippet_detail_url_template.replace('0', object_id);

            replaceWithRemote(snippet_detail_url, feedback_form);
            e.preventDefault();
        });
		$(".feedback_list").on("submit", '.feedback_form', function (e) {
			var $this = $(this),
				object_id = $this.parent().attr("id").slice(2),
				feedback_update_url = feedback_update_url_template.replace('0', object_id),
				snippet_detail_url = snippet_detail_url_template.replace('0', object_id);;
	
			updateAndReplace(feedback_update_url, snippet_detail_url, $this, updateCounters);
			e.preventDefault();
		});

        $(".hide").click(function() {
            $(this).parent().toggleClass("minimized");
            $(this).toggleClass("maximize");
        });
	});
	//-->
	</script>
{% endblock %}

{% block heading_title %}{% endblock %}

{% block main_content %}

{% if not organization|is_member:user %}
<p>{% trans "You are not a member of this organization." %}<p>

{% else %}
{% include "decision_detail_snippet.html" %}

{% switch "actionitems" %}
<div class="envelope">
    <h2 class="page_title actionitem hide" title="click to hide / unhide">{% trans "Action Items" %}</h2>
        {% if "edit_decisions_feedback" in organization_permissions %}
            <div class="add_anchor" id="actionitem_add_anchor"><a class="button add_actionitem" href='{% url 'actionitem_create' object.id %}'><span>Add action item</span></a></div>
        {% endif %}
    <div class="list decision_actionitem">

        <ol class="actionitem_list">
            {% for actionitem in actionitems %}
            {% include "actionitem_detail_snippet.html" with object=actionitem %}
            {% empty %}
                <li class="no_actionitem">{% trans "No action items." %}</li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endswitch %}
<div class="envelope">
  <h2 class="page_title feedback hide" title="click to hide / unhide">{% trans "Feedback" %}</h2>
  {% if "edit_decisions_feedback" in organization_permissions %}
  <div class="add_anchor" id="feedback_add_anchor"><a class="button add_feedback" href='{% url 'publicweb_feedback_create' object.id %}'><span>Add new feedback</span></a></div>
  {% endif %}
  <div class="list decision_feedback">
    <ol class="feedback_list">
      {% for feedback in object.feedback_set.all %}
      {% include "feedback_detail_snippet.html" with object=feedback %}
      {% empty %}
      <li class="no_feedback">{% trans "No feedback yet." %}</li>
      {% endfor %}
    </ol>
  </div>
</div>
{% endif %}
{% endblock %}
