{% extends "base.html" %}
{% load i18n %}

{% block main_content %}
<h2>Notification Settings</h2>
<form class="notification_form" action="." method="post">
{% csrf_token %}
    <div class="form_item {% if form.notification_level.errors %}error{% endif %}" title="{{ form.notification_level.help_text }}">
        {% if form.notification_level.errors %}{{ form.notification_level.errors }}{% endif %}
        {{ form.notification_level.label_tag }} {{ form.notification_level }}
    </div>
    <div class="meta controls">
        <input class="button go once" name="submit" type="submit" value="{% trans "Save" %}" />
        <input class="button go once" name="submit" type="submit" value="{% trans "Cancel" %}" />
    </div> 
</form>
{% endblock main_content %}