{% extends "base_org_admin.html" %}
{% load i18n %}

{% block heading %}
{{ organization.name }} - {% trans "Notification Settings" %}
{% endblock %}
{% block main_content %}
<div>
<div class="form">

<form class="notification_form" action="." method="post">
{% csrf_token %}
    {% comment %} This is done for styling reasons. It's a bit of a hack, but it's no worse than hard coded numbers.{% endcomment %}
    <div><h4>{{ form.notification_level.label_tag }}</h4></div>
    <div class="form_item {% if form.notification_level.errors %}error{% endif %}" title="{{ form.notification_level.help_text }}">
        {% if form.notification_level.errors %}{{ form.notification_level.errors }}{% endif %}
        {{ form.notification_level }}
    </div>
    <div class="meta controls">
        <input class="button go once" name="submit" type="submit" value="{% trans "Save" %}" />
        <input class="button go once" name="submit" type="submit" value="{% trans "Cancel" %}" />
    </div>
    <div class="glossary">
    {% blocktrans %}
<h4>What does this mean?</h4>

<p>This page is used to set your preferred level of email notifications that you are sent by Econsensus, for the currently selected organisation. The level of detail increases from 1 to 5.</p>

<p>Every level of detail includes everything in the previous level, plus some more detail. In practice, this means:</p>

<dl class="options_list">
<dt>1. Silent:</dt><dd>You won't receive any email notifications from this organisation.</dd>
<dt>2. Major events:</dt><dd>You'll receive email notifications when someone creates a Discussion, Proposal, Decision, or Archive item, or when something changes an item's status from one of these to another, e.g. a Proposal becomes a Decision.</dd>
<dt>3. Feedback and changes:</dt><dd>You'll also receive emails when someone edits one of the types of item listed above, and when someone gives feedback on an item - e.g. raises a concern, or asks a question.</dd>
<dt>4. Full discussion:</dt><dd>You'll also receive emails when people reply inline to feedback items, and also when people edit feedback items, or create or edit action items.</dd>
<dt>5. Everything, even minor changes:</dt><dd>You'll receive all of the above, and also any changes that people make which they flag as "minor changes". This normally suppresses email being sent and is intended for, e.g. avoiding bothering people with small changes to correct minor facts or spelling mistakes, etc.</dd>
</dl>
{% endblocktrans %} 
</div>
</form>


</div>
</div>
{% endblock main_content %}